In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [5]:
df['channelTitle'].value_counts()[:10].index.to_list()

['짤툰',
 '파뿌리',
 'SPOTV',
 '런닝맨 - 스브스 공식 채널',
 '엠뚜루마뚜루 : MBC 공식 종합 채널',
 '장삐쭈',
 'BANGTANTV',
 '채널 십오야',
 '이과장',
 '총몇명']

In [6]:
filt = df['dislikes'] > df['likes']

In [10]:
list(df[filt]['channelTitle'].unique())

['핫도그TV',
 'ASMR 애정TV',
 '하얀트리HayanTree',
 '양팡 YangPang',
 '철구형 (CHULTUBE)',
 '왜냐맨하우스',
 '(MUTUBE)와꾸대장봉준',
 '오메킴TV',
 '육지담',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 '사나이 김기훈',
 '나혼자산다 STUDIO',
 'Gen.G esports']

In [33]:
(df[['channelId', 'channelTitle']].drop_duplicates()['channelId'].value_counts() > 1).sum()

71

In [36]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])

In [43]:
df['day'] = df['trending_date2'].dt.weekday

In [45]:
filt = df['day'] == 6

In [48]:
df[filt]['categoryId'].value_counts().index[0]

24

In [49]:
df['day'] = df['trending_date2'].dt.day_name()

In [50]:
pd.crosstab(df['categoryId'], df['day'])

day         Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
categoryId
1              243     263       255     274       246      257        234
2              120     105       119      99       128      119        129
10             833     837       776     830       890      894        917
15             187     215       198     217       207      208        207
17             633     668       592     636       682      708        706
19              90      92        87      91        92       89         85
20             283     298       296     289       282      285        291
22            1288    1373      1289    1337      1341     1375       1333
23             568     594       570     556       560      569        566
24            2976    3148      3066    3096      2954     3084       3090
25             444     453       422     437       470      452        468
26             369     378       364     363       375      394        385
27             183     205       183     199       194      194        212
28             171     160       173     167       166      161        165
29              12      10        10       9        13       11         12

In [51]:
filt = df['view_count'] != 0

In [63]:
ndf = df[filt].copy()

In [64]:
ndf['ratio'] = ndf['comment_count'] / ndf['view_count']

In [65]:
ndf.sort_values('ratio', ascending=False)['title'].values[0]

'60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)'

In [70]:
filt = (ndf['ratio'] != 0) & (ndf['view_count'] != 0)

In [73]:
ndf[filt].sort_values('ratio')['title'].values[0]

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

In [74]:
filt = (df['likes'] != 0) & (df['dislikes'] != 0)

In [76]:
ndf = df[filt].copy()

In [77]:
ndf['ratio'] = ndf['dislikes'] / ndf['likes']

In [80]:
ndf.sort_values('ratio')['title'].values[0]

'[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰'

In [82]:
df.value_counts('channelTitle').index[0]

'짤툰'

In [88]:
(df['title'].value_counts() >= 20).sum()

41

In [89]:
import pandas as pd


channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

In [90]:
def func(df):
    df['ct'] = pd.to_datetime(df['ct'])

In [91]:
func(channel)
func(video)

In [92]:
video['videoname'].value_counts()

 공범 EP1    3492
 공범 EP2    3204
 공범 EP3    2568
 공범 EP4    2280
 공범 EP5    1562
 공범 EP6    1274
 공범 EP7     555
 공범 EP8     266
Name: videoname, dtype: int64

In [101]:
video.sort_values(['videoname', 'ct']).drop_duplicates('videoname', keep='last')[['viewcnt', 'videoname', 'ct']]

       viewcnt videoname                  ct
3491   3180532    공범 EP1 2021-11-01 15:30:03
6695   2199328    공범 EP2 2021-11-01 15:30:03
9263   1671294    공범 EP3 2021-11-01 15:30:03
11543  1818493    공범 EP4 2021-11-01 15:30:03
13105  1503435    공범 EP5 2021-11-01 15:30:04
14934  1750222    공범 EP6 2021-11-01 15:30:04
13660  1630200    공범 EP7 2021-11-01 15:30:05
15200  1289088    공범 EP8 2021-11-01 15:30:05

In [102]:
filt = channel['ct'] >= pd.to_datetime('2021-10-03')

In [104]:
df = channel[filt]

In [107]:
df.sort_values('ct').drop_duplicates('channelname', keep='first')[['channelname', 'subcnt']]

          channelname   subcnt
393            논리왕 전기   922000
266        츄정ChuJeong   322000
139             야전삽짱재   257000
901        김농밀의 농밀한 삶     7520
520   와글와글 WagleWagle    55000
1028      릴펄 Lilpearl    10100
774           형사!탐정되다    14900
647               조나단   215000
12                꽈뚜룹  1330000
1276    Balming Tiger    54300
1155    곽토리 kwak tori   471000

In [108]:
a = channel['ct'] >= pd.to_datetime('2021-10-03 03:00:00')

In [109]:
b = channel['ct'] <= pd.to_datetime('2021-11-01 15:00:00')

In [122]:
adf = channel[a].sort_values('ct').drop_duplicates('channelname')[['channelname', 'subcnt']].sort_values('channelname').reset_index(drop=True)

In [128]:
bdf = channel[b].sort_values('ct').drop_duplicates('channelname', keep='last')[['channelname', 'subcnt']].sort_values('channelname').reset_index(drop=True)

In [129]:
bdf

        channelname   subcnt
0     Balming Tiger    56800
1     곽토리 kwak tori   469000
2        김농밀의 농밀한 삶     9060
3               꽈뚜룹  1400000
4            논리왕 전기   911000
5       릴펄 Lilpearl    21100
6             야전삽짱재   268000
7   와글와글 WagleWagle    55000
8               조나단   227000
9        츄정ChuJeong   323000
10          형사!탐정되다    25200

In [137]:
ndf = bdf['channelname'].copy().to_frame()

In [138]:
ndf

        channelname
0     Balming Tiger
1     곽토리 kwak tori
2        김농밀의 농밀한 삶
3               꽈뚜룹
4            논리왕 전기
5       릴펄 Lilpearl
6             야전삽짱재
7   와글와글 WagleWagle
8               조나단
9        츄정ChuJeong
10          형사!탐정되다

In [139]:
ndf['del'] = bdf['subcnt'] - adf['subcnt']

In [140]:
ndf

        channelname    del
0     Balming Tiger   2500
1     곽토리 kwak tori  -2000
2        김농밀의 농밀한 삶   1540
3               꽈뚜룹  70000
4            논리왕 전기 -11000
5       릴펄 Lilpearl  11000
6             야전삽짱재  11000
7   와글와글 WagleWagle      0
8               조나단  12000
9        츄정ChuJeong   1000
10          형사!탐정되다  10300

In [182]:
filt = video['videoname'].str.contains('1')

In [183]:
df = video[filt].sort_values('ct').reset_index(drop=True)

In [184]:
df['temp'] = df['ct'].diff()

In [185]:
filt = (df['temp'].dt.total_seconds() <= 5*60) | (df['temp'].dt.total_seconds() >= 20*60)

In [186]:
df[filt]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,temp
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,0 days 14:21:34
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,0 days 00:00:00
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1,0 days 00:30:01

In [187]:
lst = df[filt].index.to_list()

In [188]:
lst

[721, 722, 1636]

In [189]:
sett = set()

In [190]:
for x in lst:
    sett.add(x-1)
    sett.add(x)
    sett.add(x+1)

In [192]:
df.iloc[list(sett)].sort_index()

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,temp
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1,0 days 00:10:01
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,0 days 14:21:34
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,0 days 00:00:00
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,공범 EP1,0 days 00:08:26
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1,0 days 00:10:00
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1,0 days 00:30:01
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,공범 EP1,0 days 00:10:00

In [193]:
video['date'] = video['ct'].dt.strftime('%Y-%m-%d')

In [194]:
video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,date
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1,2021-10-10
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1,2021-10-10
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1,2021-10-10
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1,2021-10-10
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1,2021-10-10
...,...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,공범 EP8,2021-11-01
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,공범 EP8,2021-11-01
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,공범 EP8,2021-11-01
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,공범 EP8,2021-11-01
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8,2021-11-01

In [195]:
df = video.sort_values('ct').copy()

In [196]:
df

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,date
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1,2021-10-07
11,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,공범 EP1,2021-10-07
12,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,공범 EP1,2021-10-07
13,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,공범 EP1,2021-10-07
14,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,공범 EP1,2021-10-07
...,...,...,...,...,...,...,...,...,...
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,공범 EP2,2021-11-01
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,공범 EP5,2021-11-01
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,공범 EP6,2021-11-01
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,공범 EP7,2021-11-01
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8,2021-11-01

In [198]:
df.drop_duplicates('videoname')[['date', 'videoname']]

             date videoname
10     2021-10-07    공범 EP1
3496   2021-10-09    공범 EP2
6696   2021-10-14    공범 EP3
9264   2021-10-16    공범 EP4
11544  2021-10-21    공범 EP5
13661  2021-10-23    공범 EP6
13106  2021-10-28    공범 EP7
14935  2021-10-30    공범 EP8

In [203]:
filt = df['ct'].dt.hour == 21

In [210]:
df[filt].sort_values('ct').drop_duplicates('videoname')[['videoname', 'viewcnt', 'ct']].sort_values('viewcnt', ascending=False).reset_index()

   index videoname  viewcnt                  ct
0  14945    공범 EP8   264029 2021-10-30 21:00:08
1  13117    공범 EP7   252032 2021-10-28 21:00:04
2   9275    공범 EP4   217674 2021-10-16 21:00:04
3  13672    공범 EP6   213899 2021-10-23 21:00:06
4  11555    공범 EP5   201179 2021-10-21 21:00:04
5   3507    공범 EP2   148144 2021-10-09 21:00:03
6   6707    공범 EP3   147183 2021-10-14 21:00:04
7     21    공범 EP1   117340 2021-10-07 21:00:03

In [214]:
df = video.sort_values('ct').drop_duplicates('videoname', keep='last')

In [215]:
df['ratio'] = df['dislikecnt'] / df['likecnt']

In [218]:
df[['videoname', 'ratio']].sort_values('ratio')

      videoname     ratio
13660    공범 EP7  0.013636
14934    공범 EP6  0.015881
11543    공범 EP4  0.017971
13105    공범 EP5  0.021128
9263     공범 EP3  0.022360
3491     공범 EP1  0.027118
6695     공범 EP2  0.029844
15200    공범 EP8  0.141357

In [219]:
a = video['ct'] >= pd.to_datetime('2021-11-01 00:00:00')
b = video['ct'] <= pd.to_datetime('2021-11-01 15:00:00')

In [225]:
adf = video[a].sort_values('ct').drop_duplicates('videoname')[['videoname', 'viewcnt']].sort_values('videoname').reset_index(drop=True)

In [226]:
bdf = video[b].sort_values('ct').drop_duplicates('videoname', keep='last')[['videoname', 'viewcnt']].sort_values('videoname').reset_index(drop=True)

In [227]:
ndf = adf['videoname'].copy().to_frame()

In [228]:
ndf['total'] = bdf['viewcnt'] - adf['viewcnt']

In [229]:
ndf

  videoname  total
0    공범 EP1  13298
1    공범 EP2  10300
2    공범 EP3   9927
3    공범 EP4   9824
4    공범 EP5  10824
5    공범 EP6  14141
6    공범 EP7  26949
7    공범 EP8  89147

In [237]:
a = video.index.to_list()

In [239]:
video.iloc[a]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,date
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1,2021-10-10
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1,2021-10-10
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1,2021-10-10
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1,2021-10-10
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1,2021-10-10
...,...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,공범 EP8,2021-11-01
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,공범 EP8,2021-11-01
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,공범 EP8,2021-11-01
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,공범 EP8,2021-11-01
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8,2021-11-01

In [242]:
b = video.drop_duplicates().index.to_list()

In [246]:
video.iloc[list(set(a)-set(b))]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,date
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,2021-10-13
3927,23QQ1ru9YQg,1408005,20484,554,0,8567,2021-10-13 09:41:37,공범 EP2,2021-10-13

In [247]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [253]:
df.groupby('Country')['Goals'].sum().sort_values(ascending=False).head(5).to_frame()

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

In [255]:
df['Country'].value_counts().head(5)

Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
Name: Country, dtype: int64

In [256]:
def check(x):
    lst = x.split('-')
    for l in lst:
        if len(l) != 4:
            return True
    return False

df['check'] = df['Years'].apply(check)

In [257]:
df['check'].sum()

45

In [258]:
df2 = df[df.check == False].reset_index(drop=True)

In [259]:
df2.shape

(1250, 5)

In [260]:
df2

                   Player  Goals                Years     Country  check
0          Miroslav Klose     16  2002-2006-2010-2014     Germany  False
1                 Ronaldo     15       1998-2002-2006      Brazil  False
2             Gerd Muller     14            1970-1974     Germany  False
3           Just Fontaine     13                 1958      France  False
4                    Pele     12  1958-1962-1966-1970      Brazil  False
...                   ...    ...                  ...         ...    ...
1245        Josip Skoblar      1                 1962  Yugoslavia  False
1246          Safet Susic      1            1982-1990  Yugoslavia  False
1247  Aleksandar Tirnanic      1                 1930  Yugoslavia  False
1248  Djordje Vujadinovic      1                 1930  Yugoslavia  False
1249         Branko Zebec      1            1954-1958  Yugoslavia  False

[1250 rows x 5 columns]

In [262]:
df2['yearlst'] = df2['Years'].str.split('-')

In [267]:
def lencup(x):
    return len(x)

In [268]:
df2['LenCup'] = df2['yearlst'].apply(lencup)

In [270]:
filt = df2['LenCup'] == 4

In [272]:
len(df2[filt])

16

In [274]:
filt = (df2['Country'] == 'Yugoslavia') & (df2['LenCup'] == 2)

In [276]:
len(df2[filt])

7

In [286]:
filt = df2['Years'].str.contains('2002')

In [290]:
len(df2[filt])

156

In [291]:
df2['Player'] = df2['Player'].apply(lambda x:x.lower())

In [295]:
filt = df2['Player'].str.contains('carlos')

In [297]:
len(df2[filt])

13

In [298]:
filt = (df2['LenCup'] == 1)

In [302]:
df2[filt].sort_values('Goals', ascending=False)['Player'].values[0]

'just fontaine'

In [305]:
df2[filt]['Country'].value_counts().index[0]

'Brazil'

In [306]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')
df.head()

         대여일자  대여시간  대여소번호 대여구분코드 성별 연령대코드  이용건수    운동량   탄소량     이동거리  사용시간
0  2021-06-01     0   3541    정기권  F  ~10대     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    정기권  F  ~10대     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    정기권  F  ~10대     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    정기권  F  ~10대     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    정기권  F  ~10대     1  13.04  0.17   731.55     6

In [307]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678950 entries, 0 to 678949
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   대여일자    678950 non-null  object
 1   대여시간    678950 non-null  int64
 2   대여소번호   678950 non-null  int64
 3   대여구분코드  678950 non-null  object
 4   성별      678950 non-null  object
 5   연령대코드   678950 non-null  object
 6   이용건수    678950 non-null  int64
 7   운동량     678950 non-null  object
 8   탄소량     678950 non-null  object
 9   이동거리    678950 non-null  float64
 10  사용시간    678950 non-null  int64
dtypes: float64(1), int64(4), object(6)
memory usage: 57.0+ MB

In [308]:
df['대여일자'].value_counts()

2021-06-04    56788
2021-06-02    56100
2021-06-08    55623
2021-06-14    54945
2021-06-09    54507
2021-06-05    52730
2021-06-07    52623
2021-06-11    52089
2021-06-12    48569
2021-06-01    48081
2021-06-06    47787
2021-06-13    43131
2021-06-10    36992
2021-06-03    18985
Name: 대여일자, dtype: int64

In [309]:
df['대여일자'] = pd.to_datetime(df['대여일자'])

In [310]:
df['day_name'] = df['대여일자'].dt.day_name()

In [311]:
df

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,day_name
0,2021-06-01,0,3541,정기권,F,~10대,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,정기권,F,~10대,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,정기권,F,~10대,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,정기권,F,~10대,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,정기권,F,~10대,1,13.04,0.17,731.55,6,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,정기권,M,60대,1,32.92,0.30,1279.01,37,Monday
678946,2021-06-14,23,2331,정기권,M,60대,1,11.88,0.09,400.00,4,Monday
678947,2021-06-14,23,722,정기권,M,60대,1,53.28,0.48,2070.00,20,Monday
678948,2021-06-14,23,3787,정기권,M,70대~,1,121.25,1.18,5103.30,86,Monday
678949,2021-06-14,23,1911,정기권,M,70대~,1,42.18,0.38,1638.70,28,Monday

In [312]:
df['day_name'].value_counts()

Wednesday    110607
Friday       108877
Monday       107568
Tuesday      103704
Saturday     101299
Sunday        90918
Thursday      55977
Name: day_name, dtype: int64

In [333]:
df.groupby(['day_name', '대여소번호'], as_index=False).size().sort_values('size', ascending=False).drop_duplicates('day_name')

        day_name  대여소번호  size
5191    Saturday    502   378
7611      Sunday    502   372
14820  Wednesday    502   282
348       Friday    502   277
12421    Tuesday    502   267
2769      Monday    502   242
11482   Thursday   2715   137

In [367]:
a = df.groupby('연령대코드', as_index=False)['대여구분코드'].size().sort_values('연령대코드')

In [368]:
a

  연령대코드    size
0   20대  247561
1   30대  186722
2   40대  114799
3   50대   70428
4   60대   19288
5  70대~    3227
6  ~10대   36925

In [345]:
ndf = df.groupby('연령대코드', as_index=False)['대여구분코드'].value_counts()

In [346]:
filt = ndf['대여구분코드'].str.contains('일일권')

In [349]:
ndf[filt]

   연령대코드    대여구분코드  count
1    20대       일일권  59389
3    20대  일일권(비회원)      4
5    30대       일일권  31124
7    30대  일일권(비회원)      3
9    40대       일일권  12692
11   40대  일일권(비회원)      3
13   50대       일일권   4606
15   50대  일일권(비회원)      1
17   60대       일일권    819
20  70대~       일일권    158
23  ~10대       일일권  11540

In [372]:
b = ndf[filt].groupby('연령대코드')['count'].sum().to_frame().reset_index()

In [373]:
a

  연령대코드    size
0   20대  247561
1   30대  186722
2   40대  114799
3   50대   70428
4   60대   19288
5  70대~    3227
6  ~10대   36925

In [374]:
b

  연령대코드  count
0   20대  59393
1   30대  31127
2   40대  12695
3   50대   4607
4   60대    819
5  70대~    158
6  ~10대  11540

In [377]:
nndf = a.copy()

In [378]:
nndf['ratio'] = b['count'] / a['size']

In [379]:
nndf

  연령대코드    size     ratio
0   20대  247561  0.239913
1   30대  186722  0.166702
2   40대  114799  0.110585
3   50대   70428  0.065414
4   60대   19288  0.042462
5  70대~    3227  0.048962
6  ~10대   36925  0.312525

In [383]:
nndf.sort_values('ratio')['연령대코드'].values[-1]

'~10대'

In [387]:
df[df['대여구분코드'].str.contains('일일권')]['연령대코드'].value_counts().sort_index()

20대     59393
30대     31127
40대     12695
50대      4607
60대       819
70대~      158
~10대    11540
Name: 연령대코드, dtype: int64

In [388]:
df['연령대코드'].value_counts().sort_index()

20대     247561
30대     186722
40대     114799
50대      70428
60대      19288
70대~      3227
~10대     36925
Name: 연령대코드, dtype: int64

In [389]:
df

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,day_name
0,2021-06-01,0,3541,정기권,F,~10대,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,정기권,F,~10대,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,정기권,F,~10대,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,정기권,F,~10대,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,정기권,F,~10대,1,13.04,0.17,731.55,6,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,정기권,M,60대,1,32.92,0.30,1279.01,37,Monday
678946,2021-06-14,23,2331,정기권,M,60대,1,11.88,0.09,400.00,4,Monday
678947,2021-06-14,23,722,정기권,M,60대,1,53.28,0.48,2070.00,20,Monday
678948,2021-06-14,23,3787,정기권,M,70대~,1,121.25,1.18,5103.30,86,Monday
678949,2021-06-14,23,1911,정기권,M,70대~,1,42.18,0.38,1638.70,28,Monday

In [390]:
df.groupby('연령대코드')['이동거리'].mean()

연령대코드
20대     3211.890552
30대     3341.443859
40대     3514.857416
50대     3593.668100
60대     3538.145737
70대~    3085.039641
~10대    2634.426279
Name: 이동거리, dtype: float64

In [391]:
filt = df['연령대코드'] == '20대'

In [393]:
ndf = df[filt]

In [394]:
filt = ndf['이동거리'] >= ndf['이동거리'].mean()

In [396]:
nndf = ndf[filt]

In [401]:
nnndf = (nndf.sort_values(['대여일자', '대여소번호'], ascending=False).head(200))

In [403]:
nnndf['탄소량'] = nnndf['탄소량'].astype('float')

In [404]:
nnndf['탄소량'].mean()

1.61315

In [406]:
filt = (df['대여일자'].dt.month == 6) & (df['대여일자'].dt.day == 7)

In [407]:
df[filt]['이용건수'].median()

1.0

In [410]:
filt = (df['대여일자'].dt.weekday < 5) & (df['대여시간'].isin([6, 7, 8]))

In [412]:
ndf = df[filt]

In [433]:
nndf = ndf.groupby(['대여시간', '대여소번호']).size().to_frame('이용 횟수')

In [435]:
nndf.sort_values(['대여시간', '이용 횟수'], ascending=False).groupby('대여시간').head(3)

            이용 횟수
대여시간 대여소번호
8    2701     119
     646      115
     1152      92
7    259      104
     230       77
     726       77
6    2744      45
     1125      40
     1028      36

In [436]:
filt = df['이동거리'] >= df['이동거리'].mean()

In [438]:
df[filt]['이동거리'].std()

5092.139707505305

In [440]:
df['성별'] = df['성별'].str.upper()

In [441]:
df['성별'].value_counts()

M    400274
F    278676
Name: 성별, dtype: int64

In [442]:
df.groupby('성별')['이동거리'].mean()

성별
F    3468.575025
M    3209.110871
Name: 이동거리, dtype: float64

In [443]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [444]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   행복랭킹      312 non-null    int64
 1   나라명       312 non-null    object
 2   점수        312 non-null    float64
 3   상대GDP     312 non-null    float64
 4   사회적지원     312 non-null    float64
 5   행복기대치     312 non-null    float64
 6   선택의 자유도   312 non-null    float64
 7   관대함       312 non-null    float64
 8   부패에 대한인식  311 non-null    float64
 9   년도        312 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 24.5+ KB

In [464]:
a = df[df['년도'] == 2018]
b = df[df['년도'] == 2019]

In [450]:
(a[a['행복랭킹'] == 10]['점수'].values + b[b['행복랭킹'] == 10]['점수'].values)/2

array([7.259])

In [453]:
df.groupby('년도').head(50).groupby('년도')['점수'].mean()

년도
2018    6.64678
2019    6.67002
Name: 점수, dtype: float64

In [457]:
a[['점수', '부패에 대한인식']].corr().iloc[0, 1]

0.40529152271510027

In [458]:
a

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
156,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
157,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
158,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
159,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
160,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018
...,...,...,...,...,...,...,...,...,...,...
307,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
308,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
309,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
310,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
311,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

In [465]:
a = a.reset_index(drop=True)

In [467]:
b = b.reset_index(drop=True)

In [468]:
ndf = pd.merge(a[['행복랭킹', '나라명']], b[['행복랭킹', '나라명']])

In [470]:
len(ndf)

15

In [495]:
c = b[['점수', '상대GDP', '사회적지원', '행복기대치', '선택의 자유도']].corr().unstack().to_frame().reset_index()

In [496]:
c = c[c[0] != 1]

In [497]:
c = c.drop_duplicates(0)

In [498]:
c.columns = ['v1', 'v2', 'corr']

In [500]:
c.sort_values('corr', ascending=False).head(5)

      v1     v2      corr
8  상대GDP  행복기대치  0.835462
1     점수  상대GDP  0.793883
3     점수  행복기대치  0.779883
2     점수  사회적지원  0.777058
7  상대GDP  사회적지원  0.754906

In [504]:
a.tail(5)['점수'].mean()

3.1799999999999997

In [505]:
b.tail(5)['점수'].mean()

3.1407999999999996

In [507]:
filt1 = b['상대GDP'] >= b['상대GDP'].mean()
filt2 = b['상대GDP'] <= b['상대GDP'].mean()

In [508]:
b[filt1]['점수'].mean() - b[filt2]['점수'].mean()

1.390483957219251

In [515]:
df.sort_values('부패에 대한인식', ascending=False).groupby('년도')[['년도', '부패에 대한인식']].head(20).groupby('년도').mean()

      부패에 대한인식
년도
2018    0.3267
2019    0.3201

In [537]:
len(set(a.iloc[:50,:]['나라명'].to_list()) - set(b.iloc[:50,:]['나라명'].to_list()))

4

In [538]:
df

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
307,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
308,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
309,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
310,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
311,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

In [552]:
ndf = df['나라명'].value_counts()

In [553]:
ndf = ndf[ndf == 2]

In [557]:
nndf = df[df['나라명'].isin(ndf.index)].reset_index(drop=True)

In [562]:
nndf[nndf['년도'] == 2018]['점수'] = nndf[nndf['년도'] == 2018]['점수']*(-1)

C:\Users\pc\AppData\Local\Temp\ipykernel_29812\3336609409.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nndf[nndf['년도'] == 2018]['점수'] = nndf[nndf['년도'] == 2018]['점수']*(-1)

In [563]:
nndf

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
299,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
300,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
301,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
302,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
303,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

In [568]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv')
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

In [569]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52416 entries, 0 to 52415
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DateTime                   52416 non-null  object
 1   Temperature                52416 non-null  float64
 2   Humidity                   52416 non-null  float64
 3   Wind Speed                 52416 non-null  float64
 4   general diffuse flows      52416 non-null  float64
 5   diffuse flows              52416 non-null  float64
 6   Zone 1 Power Consumption   52416 non-null  float64
 7   Zone 2  Power Consumption  52416 non-null  float64
 8   Zone 3  Power Consumption  52416 non-null  float64
dtypes: float64(8), object(1)
memory usage: 3.6+ MB

In [570]:
df['DateTime'] = pd.to_datetime(df['DateTime'])

In [572]:
df.groupby(df['DateTime'].dt.month).size()

DateTime
1     4464
2     4032
3     4464
4     4320
5     4464
6     4320
7     4464
8     4464
9     4320
10    4464
11    4320
12    4320
dtype: int64

In [573]:
filt = df['DateTime'].dt.month == 3

In [574]:
ndf = df[filt]

In [577]:
ndf.groupby(ndf['DateTime'].dt.hour)['Temperature'].mean().sort_values().values[0]

11.506612903225806

In [578]:
ndf.groupby(ndf['DateTime'].dt.hour)['Temperature'].mean().sort_values().values[-1]

18.393602150537635

In [579]:
df.columns

Index(['DateTime', 'Temperature', 'Humidity', 'Wind Speed',
       'general diffuse flows', 'diffuse flows', 'Zone 1 Power Consumption',
       'Zone 2  Power Consumption', 'Zone 3  Power Consumption'],
      dtype='object')

In [580]:
filt = df['Zone 1 Power Consumption'] > df['Zone 2  Power Consumption']

In [581]:
df[filt]['Humidity'].mean()

68.23624448055052

In [583]:
df[['Zone 1 Power Consumption', 'Zone 2  Power Consumption', 'Zone 3  Power Consumption']].corr()

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

In [584]:
def rank(x):
    if x < 10:
        return 'A'
    elif x < 20:
        return 'B'
    elif x < 30:
        return 'C'
    return 'D'

In [585]:
df['rank'] = df['Temperature'].apply(rank)

In [586]:
df['rank'].value_counts()

B    26993
C    21105
A     2874
D     1444
Name: rank, dtype: int64

In [588]:
filt = (df['DateTime'].dt.month == 6) & (df['DateTime'].dt.hour == 12)
df[filt]['Temperature'].std()

2.049941782795103

In [589]:
df[filt]['Temperature'].var()

4.202261312849164

In [ ]:
filt = df['Temperature'] >= df['Temperature'].mean()