In [1]:
import pandas as pd

In [15]:
train = pd.read_csv('퇴근후딴짓/5회/train.csv')
test = pd.read_csv('퇴근후딴짓/5회/test.csv')

In [16]:
train.shape, test.shape

((3759, 9), (1617, 8))

In [17]:
display(train.head(3))
display(test.head(3))

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,EcoSport,2017,10298,Manual,25013,Petrol,150,53.3,1.0
1,Focus,2016,10491,Manual,30970,Diesel,0,74.3,1.5
2,S-MAX,2017,13498,Manual,60200,Diesel,150,56.5,2.0

     model  year transmission  mileage fuelType  tax   mpg  engineSize
0    S-MAX  2016       Manual    23905   Diesel  125  56.5         2.0
1   Fiesta  2018       Manual    16895   Petrol  145  40.3         1.5
2     Kuga  2017       Manual    12109   Petrol  165  45.6         1.5

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3759 entries, 0 to 3758
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         3759 non-null   object
 1   year          3759 non-null   int64
 2   price         3759 non-null   int64
 3   transmission  3759 non-null   object
 4   mileage       3759 non-null   int64
 5   fuelType      3759 non-null   object
 6   tax           3759 non-null   int64
 7   mpg           3759 non-null   float64
 8   engineSize    3759 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 264.4+ KB

In [19]:
train.describe()

,year,price,mileage,tax,mpg,engineSize
count,3759.000000,3759.000000,3759.000000,3759.000000,3759.000000,3759.000000
mean,2016.887736,12353.321362,23191.786379,114.444001,57.793083,1.352807
std,2.151811,4750.338051,19223.258713,61.713682,10.099221,0.437130
min,2002.000000,1095.000000,5.000000,0.000000,20.900000,0.000000
25%,2016.000000,9000.000000,9997.500000,75.000000,52.300000,1.000000
50%,2017.000000,11495.000000,18180.000000,145.000000,58.900000,1.200000
75%,2018.000000,15310.000000,31000.000000,145.000000,65.700000,1.500000
max,2060.000000,48000.000000,144000.000000,570.000000,201.800000,5.000000

In [20]:
test.describe()

              year        mileage          tax          mpg   engineSize
count  1617.000000    1617.000000  1617.000000  1617.000000  1617.000000
mean   2016.752628   23817.544836   113.089054    57.804082     1.362894
std       2.182152   20130.026364    63.584868    10.567025     0.436878
min    2005.000000       5.000000     0.000000    20.900000     0.000000
25%    2016.000000   10422.000000    30.000000    52.300000     1.000000
50%    2017.000000   18471.000000   145.000000    58.900000     1.200000
75%    2018.000000   31098.000000   145.000000    65.700000     1.600000
max    2020.000000  150890.000000   570.000000   201.800000     5.000000

In [21]:
train.describe(include='O')

          model transmission fuelType
count      3759         3759     3759
unique       19            3        3
top      Fiesta       Manual   Petrol
freq       1372         3234     2541

In [22]:
test.describe(include='O')

          model transmission fuelType
count      1617         1617     1617
unique       19            3        3
top      Fiesta       Manual   Petrol
freq        591         1385     1085

In [24]:
display(train.isnull().sum())
display(test.isnull().sum())

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

model           0
year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [26]:
y_train = train.pop('price')

In [30]:
y_ = y_train

## 수치형만 활용

In [28]:
cols = ['year', 'mileage', 'tax', 'mpg', 'engineSize']
train = train[cols]
test = test[cols]

In [29]:
from sklearn.model_selection import train_test_split

In [31]:
x_train, x_val, y_train, y_val = train_test_split(train, y_, test_size=0.3)

In [32]:
x_train.shape, x_val.shape, y_train.shape, y_val.shape

((2631, 5), (1128, 5), (2631,), (1128,))

In [33]:
from sklearn.ensemble import RandomForestRegressor

In [34]:
model = RandomForestRegressor()

In [35]:
model.fit(x_train, y_train)

RandomForestRegressor()

In [36]:
pred = model.predict(x_val)

In [37]:
from sklearn.metrics import mean_squared_error

In [38]:
def rmse(y_true, y_pred):
    return mean_squared_error(y_true, y_pred)**0.5

In [39]:
rmse(y_val, pred)

1596.468935409076

## 수치형 + 범주형

In [40]:
train = pd.read_csv('퇴근후딴짓/5회/train.csv')
test = pd.read_csv('퇴근후딴짓/5회/test.csv')

In [41]:
y_ = train.pop('price')

In [42]:
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [43]:
x_train, x_val, y_train, y_val = train_test_split(train, y_, test_size=0.3)

In [44]:
from sklearn.ensemble import RandomForestRegressor

In [45]:
model = RandomForestRegressor()

In [46]:
model.fit(x_train, y_train)

RandomForestRegressor()

In [47]:
pred = model.predict(x_val)

In [48]:
rmse(y_val, pred)

1455.4086591868443

In [50]:
pred = model.predict(test)

In [59]:
result = pd.DataFrame({
    'pred' : pred
})
result.to_csv('퇴근후딴짓/5회/result.csv', index=False)

In [54]:
pd.read_csv('근후딴짓/5회/result.csv')

          pred
0     15390.21
1     15642.55
2     13646.82
3     16448.89
4      6555.75
...        ...
1612  11253.90
1613  18213.24
1614   9757.62
1615  13121.73
1616   4809.53

[1617 rows x 1 columns]

In [57]:
pred2 = pred.astype('int')

In [58]:
pred2

array([15390, 15642, 13646, ...,  9757, 13121,  4809])

In [60]:
import os
os.getcwd()

'C:\\Users\\pc\\PythonWorkspace\\빅데이터분석기사'