In [1]:
import pandas as pd

In [2]:
filename = '교육부_학생건강검사 결과_20151201.csv'

df = pd.read_csv(filename, encoding='cp949')
df = df.reset_index()

In [3]:
df.head()

,index,고유식별번호(ID),최종가중치,학교고유번호(ID),도시규모,도시규모별분석용,학년도,광역시도,시도별,학교급별,...,키,몸무게,혈당식전(mgdl),총콜레스테롤(mgdl),간기능(AST)단위(UL),간기능(ALT)단위(UL),혈색소(gdl),간염검사,수축기,이완기
0,0,Aa011남10101,169.550665,Aa01,대도시/중소도시,특별/광역시,2015,서울,서울특별시교육청,1,...,125.8,27.3,NaN,NaN,NaN,NaN,NaN,NaN,77.0,58.0
1,1,Aa011남10102,169.550665,Aa01,대도시/중소도시,특별/광역시,2015,서울,서울특별시교육청,1,...,124.3,25.4,NaN,NaN,NaN,NaN,NaN,NaN,83.0,51.0
2,2,Aa011남10103,169.550665,Aa01,대도시/중소도시,특별/광역시,2015,서울,서울특별시교육청,1,...,119.2,23.5,NaN,NaN,NaN,NaN,NaN,NaN,103.0,65.0
3,3,Aa011남10104,169.550665,Aa01,대도시/중소도시,특별/광역시,2015,서울,서울특별시교육청,1,...,115.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,92.0,66.0
4,4,Aa011남10105,169.550665,Aa01,대도시/중소도시,특별/광역시,2015,서울,서울특별시교육청,1,...,120.0,33.5,NaN,NaN,NaN,NaN,NaN,NaN,102.0,59.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9686 entries, 0 to 9685
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           9686 non-null   int64
 1   고유식별번호(ID)      9686 non-null   object
 2   최종가중치           9686 non-null   float64
 3   학교고유번호(ID)      9686 non-null   object
 4   도시규모            9686 non-null   object
 5   도시규모별분석용        9686 non-null   object
 6   학년도             9686 non-null   int64
 7   광역시도            9686 non-null   object
 8   시도별             9686 non-null   object
 9   학교급별            9686 non-null   int64
 10  학교명             9686 non-null   object
 11  공학여부            9686 non-null   object
 12  학년              9686 non-null   int64
 13  반               9686 non-null   int64
 14  성별              9686 non-null   object
 15  건강검진일           9686 non-null   object
 16  키               9686 non-null   float64
 17  몸무게             9682 non-null   float64
 18  혈당식전(mgdl)      338 non-null    float64
 19  총콜레스테롤(mgdl)    339 non-null    float64
 20  간기능(AST)단위(UL)  336 non-null    float64
 21  간기능(ALT)단위(UL)  337 non-null    float64
 22  혈색소(gdl)        578 non-null    float64
 23  간염검사            831 non-null    object
 24  수축기             3025 non-null   float64
 25  이완기             3025 non-null   float64
dtypes: float64(10), int64(5), object(11)
memory usage: 1.9+ MB

In [5]:
df = df[['몸무게','키']]
df = df.dropna()

In [6]:
df.head()

    몸무게      키
0  27.3  125.8
1  25.4  124.3
2  23.5  119.2
3  20.0  115.0
4  33.5  120.0

In [7]:
x_train = df['몸무게']
y_train = df['키']

In [8]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [9]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [10]:
from sklearn.metrics import mean_squared_error

In [11]:
x_train = x_train.to_frame()

In [37]:
poly = PolynomialFeatures(degree=3)

In [38]:
x_train = poly.fit_transform(x_train)

In [39]:
model1 = LinearRegression()

In [59]:
def fiit(model):
    x_tr, x_val, y_tr, y_val = train_test_split(x_train, y_train, test_size=0.2, random_state=0)
    model.fit(x_tr, y_tr)
    pred = model.predict(x_val)
    print(mean_squared_error(y_val, pred)**0.5)
    print(model.score(x_val, y_val))

In [60]:
fiit(model1)

6.956654540307149
0.8285810747383602

In [61]:
model2 = RandomForestRegressor(random_state=0, max_depth=5)

In [62]:
fiit(model2)

6.930989329473548
0.8298435744877263

In [33]:
x_train = df['몸무게'].to_frame()

In [19]:
model3 = LinearRegression()

In [20]:
fiit(model3)

8.8616095899348

In [58]:
model2.score()

AttributeError: 'RandomForestRegressor' object has no attribute 'intercept_'