In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   object
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: float64(12), object(1)
memory usage: 667.8+ KB

In [6]:
df['Yr_Mo_Dy'] = pd.to_datetime(df['Yr_Mo_Dy'])
df['Yr_Mo_Dy']

0      2061-01-01
1      2061-01-02
2      2061-01-03
3      2061-01-04
4      2061-01-05
          ...
6569   1978-12-27
6570   1978-12-28
6571   1978-12-29
6572   1978-12-30
6573   1978-12-31
Name: Yr_Mo_Dy, Length: 6574, dtype: datetime64[ns]

In [8]:
df['Yr_Mo_Dy'].dt.year.unique()

array([2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978], dtype=int64)

In [12]:
def fix_year(x):
    import datetime
    
    year = x.year - 100 if x.year >= 2061 else x.year
    return pd.to_datetime(datetime.date(year, x.month, x.day))

df['Yr_Mo_Dy'] = df['Yr_Mo_Dy'].apply(fix_year)
df['Yr_Mo_Dy']

0      1961-01-01
1      1961-01-02
2      1961-01-03
3      1961-01-04
4      1961-01-05
          ...
6569   1978-12-27
6570   1978-12-28
6571   1978-12-29
6572   1978-12-30
6573   1978-12-31
Name: Yr_Mo_Dy, Length: 6574, dtype: datetime64[ns]

In [16]:
temp = df.groupby(df['Yr_Mo_Dy'].dt.year).mean()
temp

C:\Users\pc\AppData\Local\Temp\ipykernel_21456\875356884.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  temp = df.groupby(df['Yr_Mo_Dy'].dt.year).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773
1962,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956
1963,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014
1964,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301
1965,12.451370,11.075534,11.848767,6.858466,11.024795,7.478110,10.618712,8.879918,7.907425,9.918082,12.964247,15.591644
1966,13.461973,11.557205,12.020630,7.345726,11.805041,7.793671,10.579808,8.835096,8.514438,9.768959,14.265836,16.307260
1967,12.737151,10.990986,11.739397,7.143425,11.630740,7.368164,10.652027,9.325616,8.645014,9.547425,14.774548,17.135945
1968,11.835628,10.468197,11.409754,6.477678,10.760765,6.067322,8.859180,8.255519,7.224945,7.832978,12.808634,15.017486
1969,11.166356,9.723699,10.902000,5.767973,9.873918,6.189973,8.564493,7.711397,7.924521,7.754384,12.621233,15.762904
1970,12.600329,10.726932,11.730247,6.217178,10.567370,7.609452,9.609890,8.334630,9.297616,8.289808,13.183644,16.456027
1971,11.273123,9.095178,11.088329,5.241507,9.440329,6.097151,8.385890,6.757315,7.915370,7.229753,12.208932,15.025233
1972,12.463962,10.561311,12.058333,5.929699,9.430410,6.358825,9.704508,7.680792,8.357295,7.515273,12.727377,15.028716
1973,11.828466,10.680493,10.680493,5.547863,9.640877,6.548740,8.482110,7.614274,8.245534,7.812411,12.169699,15.441096
1974,13.643096,11.811781,12.336356,6.427041,11.110986,6.809781,10.084603,9.896986,9.331753,8.736356,13.252959,16.947671
1975,12.008575,10.293836,11.564712,5.269096,9.190082,5.668521,8.562603,7.843836,8.797945,7.382822,12.631671,15.307863
1976,11.737842,10.203115,10.761230,5.109426,8.846339,6.311038,9.149126,7.146202,8.883716,7.883087,12.332377,15.471448
1977,13.099616,11.144493,12.627836,6.073945,10.003836,8.586438,11.523205,8.378384,9.098192,8.821616,13.459068,16.590849
1978,12.504356,11.044274,11.380000,6.082356,10.167233,7.650658,9.489342,8.800466,9.089753,8.301699,12.967397,16.771370

In [18]:
df['weekday'] = df['Yr_Mo_Dy'].dt.weekday
df['weekday']

0       6
1       0
2       1
3       2
4       3
       ..
6569    2
6570    3
6571    4
6572    5
6573    6
Name: weekday, Length: 6574, dtype: int64

In [20]:
df['WeekCheck'] = df['weekday'].apply(lambda x:1 if x >= 5 else 0)
df['WeekCheck']

0       1
1       0
2       0
3       0
4       0
       ..
6569    0
6570    0
6571    0
6572    1
6573    1
Name: WeekCheck, Length: 6574, dtype: int64

In [21]:
df.groupby(df['Yr_Mo_Dy'].dt.month).mean()

C:\Users\pc\AppData\Local\Temp\ipykernel_21456\1876956671.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(df['Yr_Mo_Dy'].dt.month).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,weekday,WeekCheck
Yr_Mo_Dy,,,,,,,,,,,,,,
1,14.847325,12.914560,13.299624,7.199498,11.667734,8.054839,11.819355,9.512047,9.543208,10.053566,14.550520,18.028763,2.989247,0.284946
2,13.710906,12.111122,12.879132,6.942411,11.551772,7.633858,11.206024,9.341437,9.313169,9.518051,13.728898,17.156142,3.005906,0.287402
3,13.158687,11.505842,12.648118,7.265907,11.554516,7.959409,11.310179,9.635896,9.700324,10.096953,13.810609,16.909317,3.000000,0.283154
4,12.555648,10.429759,12.204815,6.898037,10.677667,7.441389,10.221315,8.909056,8.930870,9.158019,12.664759,14.937611,3.011111,0.288889
5,11.724032,10.145619,11.550394,6.307487,10.224301,6.942061,8.797738,8.452903,8.040806,8.524857,12.767258,13.736039,2.982079,0.283154
6,10.451317,8.949704,10.361315,5.652278,9.529926,6.410093,8.009556,7.920796,7.639796,7.729185,12.246407,12.861818,3.007407,0.285185
7,9.992007,8.357778,9.349642,5.416935,9.302634,5.972348,7.843501,7.262760,7.544480,7.321416,11.676505,12.800789,3.001792,0.288530
8,10.213411,8.415143,9.993441,5.270681,8.901559,5.891057,7.772312,6.842025,7.240573,7.002783,11.110090,12.565943,2.991039,0.283154
9,11.458519,9.981002,10.756883,5.615176,9.766315,6.566222,8.609722,7.745677,7.610556,7.689278,12.686389,14.761963,3.009259,0.287037
10,12.660610,11.010681,11.453943,6.065215,10.550251,7.159910,9.387778,8.726308,8.347181,8.850376,14.155323,16.697151,2.998208,0.286738
11,13.200722,11.639500,12.293407,6.247611,10.501130,7.134333,10.814861,8.427167,8.604000,8.943167,13.815741,18.114185,2.992593,0.283333
12,14.446398,12.353602,13.212276,6.829910,11.301254,7.963710,11.849050,9.209355,9.447258,9.627670,14.259516,18.697599,3.017921,0.288530

In [22]:
df = df.fillna(method='ffill').fillna(method='bfill')
df.isnull().sum()

Yr_Mo_Dy     0
RPT          0
VAL          0
ROS          0
KIL          0
SHA          0
BIR          0
DUB          0
CLA          0
MUL          0
CLO          0
BEL          0
MAL          0
weekday      0
WeekCheck    0
dtype: int64

In [23]:
df.groupby(df['Yr_Mo_Dy'].dt.to_period('M')).mean()

C:\Users\pc\AppData\Local\Temp\ipykernel_21456\1898181838.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(df['Yr_Mo_Dy'].dt.to_period('M')).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,weekday,WeekCheck
Yr_Mo_Dy,,,,,,,,,,,,,,
1961-01,14.932581,12.084194,13.431613,7.736774,11.215806,8.588065,11.184839,9.270968,9.085806,10.107419,13.880968,14.703226,2.935484,0.290323
1961-02,16.269286,14.975357,14.324643,9.116786,13.852143,10.937500,11.890714,11.846071,11.821429,12.714286,18.583214,15.411786,3.000000,0.285714
1961-03,11.015806,11.296452,10.752903,7.137742,10.509355,8.866774,9.644194,9.829677,10.646129,11.251935,16.410968,15.637742,3.000000,0.258065
1961-04,10.722667,9.427667,9.998000,5.830667,8.435000,6.495000,6.925333,7.094667,7.342333,7.237000,11.147333,10.278333,3.166667,0.333333
1961-05,9.860968,8.735161,10.818065,5.892258,9.490323,6.574839,7.477097,8.177097,8.039355,8.499355,11.900323,12.011613,2.806452,0.258065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1978-08,9.645161,8.259355,9.032258,4.502903,7.368065,5.935161,5.650323,5.417742,7.241290,5.536774,10.466774,12.054194,2.903226,0.258065
1978-09,10.913667,10.895000,10.635000,5.725000,10.372000,9.278333,10.790333,9.583000,10.069333,8.939000,15.680333,19.391333,3.100000,0.300000
1978-10,9.897742,8.670968,9.295806,4.721290,8.525161,6.774194,8.115484,7.337742,8.297742,8.243871,13.776774,17.150000,2.935484,0.290323
1978-11,16.151667,14.802667,13.508000,7.317333,11.475000,8.743000,11.492333,9.657333,10.701333,10.676000,17.404667,20.723000,2.966667,0.266667
1978-12,16.175484,13.748065,15.635161,7.094839,11.398710,9.241613,12.077419,10.194839,10.616774,11.028710,13.859677,21.371613,3.193548,0.322581

In [24]:
df

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,weekday,WeekCheck
0,1961-01-01,15.04,14.96,13.17,9.29,12.62,9.87,13.67,10.25,10.83,12.58,18.50,15.04,6,1
1,1961-01-02,14.71,14.96,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,0,0
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,10.04,8.50,7.67,12.75,12.71,1,0
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,2,0
4,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,2,0
6570,1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,3,0
6571,1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,4,0
6572,1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,5,1
6573,1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,6,1

In [25]:
df['RPT'].diff()

0        NaN
1      -0.33
2       3.79
3      -7.92
4       2.75
        ...
6569    3.75
6570   -4.37
6571    0.79
6572    4.50
6573    1.83
Name: RPT, Length: 6574, dtype: float64

In [28]:
df[['RPT', 'VAL']].rolling(7).mean()

            RPT        VAL
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
6569  11.868571   9.362857
6570  11.904286   9.595714
6571  13.017143  10.011429
6572  13.285714  10.118571
6573  14.951429  11.801429

[6574 rows x 2 columns]

In [29]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/seoul_pm.csv')

In [30]:
df

,(ë…„-ì›”-ì¼:ì‹œ),PM10ë“±ê¸‰,PM10,PM2.5ë“±ê¸‰,PM2.5,ì˜¤ì¡´ë“±ê¸‰,ì˜¤ì¡´,ì´ì‚°í™”ì§ˆì†Œë“±ê¸‰,ì´ì‚°í™”ì§ˆì†Œ,ì¼ì‚°í™”íƒ„ì†Œë“±ê¸‰,ì¼ì‚°í™”íƒ„ì†Œ,ì•„í™©ì‚°ê°€ìŠ¤ë“±ê¸‰,ì•„í™©ì‚°ê°€ìŠ¤
0,2021-05-15:15,ë³´í†µ,47.0,ë³´í†µ,19.0,ì¢‹ìŒ,0.017,ì¢‹ìŒ,0.023,ì¢‹ìŒ,0.4,ì¢‹ìŒ,0.003
1,2021-05-15:14,ë³´í†µ,43.0,ë³´í†µ,20.0,ì¢‹ìŒ,0.024,ì¢‹ìŒ,0.019,ì¢‹ìŒ,0.3,ì¢‹ìŒ,0.003
2,2021-05-15:13,ë³´í†µ,34.0,ë³´í†µ,24.0,ë³´í†µ,0.035,ì¢‹ìŒ,0.017,ì¢‹ìŒ,0.4,ì¢‹ìŒ,0.004
3,2021-05-15:12,ë³´í†µ,41.0,ë³´í†µ,27.0,ë³´í†µ,0.037,ì¢‹ìŒ,0.020,ì¢‹ìŒ,0.4,ì¢‹ìŒ,0.004
4,2021-05-15:11,ë³´í†µ,51.0,ë³´í†µ,34.0,ë³´í†µ,0.033,ì¢‹ìŒ,0.023,ì¢‹ìŒ,0.4,ì¢‹ìŒ,0.005
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,2021-03-25:05,ë³´í†µ,39.0,ë³´í†µ,18.0,ì¢‹ìŒ,0.026,ì¢‹ìŒ,0.025,ì¢‹ìŒ,0.4,ì¢‹ìŒ,0.003
1235,2021-03-25:04,ë³´í†µ,34.0,ì¢‹ìŒ,15.0,ì¢‹ìŒ,0.017,ë³´í†µ,0.033,ì¢‹ìŒ,0.4,ì¢‹ìŒ,0.002
1236,2021-03-25:03,ë³´í†µ,35.0,ì¢‹ìŒ,13.0,ì¢‹ìŒ,0.029,ì¢‹ìŒ,0.025,ì¢‹ìŒ,0.4,ì¢‹ìŒ,0.003
1237,2021-03-25:02,ë³´í†µ,35.0,ì¢‹ìŒ,13.0,ë³´í†µ,0.031,ì¢‹ìŒ,0.025,ì¢‹ìŒ,0.3,ì¢‹ìŒ,0.003
1238,2021-03-25:01,ë³´í†µ,42.0,ì¢‹ìŒ,13.0,ì¢‹ìŒ,0.022,ë³´í†µ,0.037,ì¢‹ìŒ,0.4,ì¢‹ìŒ,0.003

In [33]:
def change_date(x):
    import datetime
    date = x.split(':')[0]
    hour = x.split(':')[1]
    
    if hour == '24':
        hour = '00:00:00'
        date = pd.to_datetime(date + ' ' + hour) + datetime.timedelta(days=1)
    else:
        hour = hour + ':00:00'
        date = pd.to_datetime(date + ' ' + hour)
    
    return date
        

df['(ë…„-ì›”-ì¼:ì‹œ)'] = df['(ë…„-ì›”-ì¼:ì‹œ)'].apply(change_date)
df

,(ë…„-ì›”-ì¼:ì‹œ),PM10ë“±ê¸‰,PM10,PM2.5ë“±ê¸‰,PM2.5,ì˜¤ì¡´ë“±ê¸‰,ì˜¤ì¡´,ì´ì‚°í™”ì§ˆì†Œë“±ê¸‰,ì´ì‚°í™”ì§ˆì†Œ,ì¼ì‚°í™”íƒ„ì†Œë“±ê¸‰,ì¼ì‚°í™”íƒ„ì†Œ,ì•„í™©ì‚°ê°€ìŠ¤ë“±ê¸‰,ì•„í™©ì‚°ê°€ìŠ¤
0,2021-05-15 15:00:00,ë³´í†µ,47.0,ë³´í†µ,19.0,ì¢‹ìŒ,0.017,ì¢‹ìŒ,0.023,ì¢‹ìŒ,0.4,ì¢‹ìŒ,0.003
1,2021-05-15 14:00:00,ë³´í†µ,43.0,ë³´í†µ,20.0,ì¢‹ìŒ,0.024,ì¢‹ìŒ,0.019,ì¢‹ìŒ,0.3,ì¢‹ìŒ,0.003
2,2021-05-15 13:00:00,ë³´í†µ,34.0,ë³´í†µ,24.0,ë³´í†µ,0.035,ì¢‹ìŒ,0.017,ì¢‹ìŒ,0.4,ì¢‹ìŒ,0.004
3,2021-05-15 12:00:00,ë³´í†µ,41.0,ë³´í†µ,27.0,ë³´í†µ,0.037,ì¢‹ìŒ,0.020,ì¢‹ìŒ,0.4,ì¢‹ìŒ,0.004
4,2021-05-15 11:00:00,ë³´í†µ,51.0,ë³´í†µ,34.0,ë³´í†µ,0.033,ì¢‹ìŒ,0.023,ì¢‹ìŒ,0.4,ì¢‹ìŒ,0.005
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,2021-03-25 05:00:00,ë³´í†µ,39.0,ë³´í†µ,18.0,ì¢‹ìŒ,0.026,ì¢‹ìŒ,0.025,ì¢‹ìŒ,0.4,ì¢‹ìŒ,0.003
1235,2021-03-25 04:00:00,ë³´í†µ,34.0,ì¢‹ìŒ,15.0,ì¢‹ìŒ,0.017,ë³´í†µ,0.033,ì¢‹ìŒ,0.4,ì¢‹ìŒ,0.002
1236,2021-03-25 03:00:00,ë³´í†µ,35.0,ì¢‹ìŒ,13.0,ì¢‹ìŒ,0.029,ì¢‹ìŒ,0.025,ì¢‹ìŒ,0.4,ì¢‹ìŒ,0.003
1237,2021-03-25 02:00:00,ë³´í†µ,35.0,ì¢‹ìŒ,13.0,ë³´í†µ,0.031,ì¢‹ìŒ,0.025,ì¢‹ìŒ,0.3,ì¢‹ìŒ,0.003
1238,2021-03-25 01:00:00,ë³´í†µ,42.0,ì¢‹ìŒ,13.0,ì¢‹ìŒ,0.022,ë³´í†µ,0.037,ì¢‹ìŒ,0.4,ì¢‹ìŒ,0.003

In [34]:
df['dayName'] = df['(ë…„-ì›”-ì¼:ì‹œ)'].dt.day_name()
df['dayName']

0       Saturday
1       Saturday
2       Saturday
3       Saturday
4       Saturday
          ...
1234    Thursday
1235    Thursday
1236    Thursday
1237    Thursday
1238    Thursday
Name: dayName, Length: 1239, dtype: object

In [37]:
df[['dayName', 'PM10ë“±ê¸‰']].groupby(['dayName', 'PM10ë“±ê¸‰'], as_index=False).size()

      dayName PM10ë“±ê¸‰  size
0      Friday     ë‚˜ì¨    31
1      Friday   ë§¤ìš°ë‚˜ì¨    17
2      Friday     ë³´í†µ   120
3      Friday     ì¢‹ìŒ    21
4      Monday     ë‚˜ì¨     1
5      Monday   ë§¤ìš°ë‚˜ì¨    21
6      Monday     ë³´í†µ    83
7      Monday     ì¢‹ìŒ    63
8    Saturday     ë‚˜ì¨    31
9    Saturday   ë§¤ìš°ë‚˜ì¨    27
10   Saturday     ë³´í†µ    71
11   Saturday     ì¢‹ìŒ    54
12     Sunday     ë‚˜ì¨     2
13     Sunday   ë§¤ìš°ë‚˜ì¨     1
14     Sunday     ë³´í†µ    67
15     Sunday     ì¢‹ìŒ    98
16   Thursday     ë‚˜ì¨    41
17   Thursday     ë³´í†µ   144
18   Thursday     ì¢‹ìŒ     5
19    Tuesday     ë‚˜ì¨    13
20    Tuesday   ë§¤ìš°ë‚˜ì¨    10
21    Tuesday     ë³´í†µ    71
22    Tuesday     ì¢‹ìŒ    74
23  Wednesday     ë‚˜ì¨    26
24  Wednesday     ë³´í†µ    95
25  Wednesday     ì¢‹ìŒ    46

In [39]:
check = len(df['(ë…„-ì›”-ì¼:ì‹œ)'].diff().unique())
ans = False
if check == 2:
    ans = True

ans

True

In [52]:
df.groupby(df['(ë…„-ì›”-ì¼:ì‹œ)'].dt.hour).mean().iloc[[10, 22], [0]]

C:\Users\pc\AppData\Local\Temp\ipykernel_21456\55362996.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(df['(ë…„-ì›”-ì¼:ì‹œ)'].dt.hour).mean().iloc[[10, 22], [0]]

                PM10
(ë…„-ì›”-ì¼:ì‹œ)
10         70.384615
22         69.941176

In [53]:
df.set_index('(ë…„-ì›”-ì¼:ì‹œ)', inplace=True, drop=True)
df

,PM10ë“±ê¸‰,PM10,PM2.5ë“±ê¸‰,PM2.5,ì˜¤ì¡´ë“±ê¸‰,ì˜¤ì¡´,ì´ì‚°í™”ì§ˆì†Œë“±ê¸‰,ì´ì‚°í™”ì§ˆì†Œ,ì¼ì‚°í™”íƒ„ì†Œë“±ê¸‰,ì¼ì‚°í™”íƒ„ì†Œ,ì•„í™©ì‚°ê°€ìŠ¤ë“±ê¸‰,ì•„í™©ì‚°ê°€ìŠ¤,dayName
(ë…„-ì›”-ì¼:ì‹œ),,,,,,,,,,,,,
2021-05-15 15:00:00,ë³´í†µ,47.0,ë³´í†µ,19.0,ì¢‹ìŒ,0.017,ì¢‹ìŒ,0.023,ì¢‹ìŒ,0.4,ì¢‹ìŒ,0.003,Saturday
2021-05-15 14:00:00,ë³´í†µ,43.0,ë³´í†µ,20.0,ì¢‹ìŒ,0.024,ì¢‹ìŒ,0.019,ì¢‹ìŒ,0.3,ì¢‹ìŒ,0.003,Saturday
2021-05-15 13:00:00,ë³´í†µ,34.0,ë³´í†µ,24.0,ë³´í†µ,0.035,ì¢‹ìŒ,0.017,ì¢‹ìŒ,0.4,ì¢‹ìŒ,0.004,Saturday
2021-05-15 12:00:00,ë³´í†µ,41.0,ë³´í†µ,27.0,ë³´í†µ,0.037,ì¢‹ìŒ,0.020,ì¢‹ìŒ,0.4,ì¢‹ìŒ,0.004,Saturday
2021-05-15 11:00:00,ë³´í†µ,51.0,ë³´í†µ,34.0,ë³´í†µ,0.033,ì¢‹ìŒ,0.023,ì¢‹ìŒ,0.4,ì¢‹ìŒ,0.005,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-25 05:00:00,ë³´í†µ,39.0,ë³´í†µ,18.0,ì¢‹ìŒ,0.026,ì¢‹ìŒ,0.025,ì¢‹ìŒ,0.4,ì¢‹ìŒ,0.003,Thursday
2021-03-25 04:00:00,ë³´í†µ,34.0,ì¢‹ìŒ,15.0,ì¢‹ìŒ,0.017,ë³´í†µ,0.033,ì¢‹ìŒ,0.4,ì¢‹ìŒ,0.002,Thursday
2021-03-25 03:00:00,ë³´í†µ,35.0,ì¢‹ìŒ,13.0,ì¢‹ìŒ,0.029,ì¢‹ìŒ,0.025,ì¢‹ìŒ,0.4,ì¢‹ìŒ,0.003,Thursday
2021-03-25 02:00:00,ë³´í†µ,35.0,ì¢‹ìŒ,13.0,ë³´í†µ,0.031,ì¢‹ìŒ,0.025,ì¢‹ìŒ,0.3,ì¢‹ìŒ,0.003,Thursday
2021-03-25 01:00:00,ë³´í†µ,42.0,ì¢‹ìŒ,13.0,ì¢‹ìŒ,0.022,ë³´í†µ,0.037,ì¢‹ìŒ,0.4,ì¢‹ìŒ,0.003,Thursday

In [54]:
df.resample('W').agg(['min', 'max', 'mean', 'std'])

C:\Users\pc\AppData\Local\Temp\ipykernel_21456\2421461296.py:1: FutureWarning: ['PM10ë“±ê¸‰', 'PM2.5ë“±ê¸‰', 'ì˜¤ì¡´ë“±ê¸‰', 'ì´ì‚°í™”ì§ˆì†Œë“±ê¸‰', 'ì¼ì‚°í™”íƒ„ì†Œë“±ê¸‰', 'ì•„í™©ì‚°ê°€ìŠ¤ë“±ê¸‰', 'dayName'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.resample('W').agg(['min', 'max', 'mean', 'std'])

            PM10                                 PM2.5                    \
             min     max        mean         std   min    max       mean
(ë…„-ì›”-ì¼:ì‹œ)
2021-03-28   6.0   160.0   72.747368   43.345462   4.0  113.0  44.705263
2021-04-04   3.0   598.0   97.148810  129.911976   1.0  120.0  23.168675
2021-04-11  17.0   102.0   41.059524   16.325911   7.0   70.0  21.761905
2021-04-18   3.0   367.0   48.180723   43.254468   2.0   38.0  17.066265
2021-04-25  17.0   126.0   55.119048   26.659936   7.0   61.0  26.392857
2021-05-02   3.0    97.0   40.612121   24.813103   1.0   43.0  16.644578
2021-05-09   8.0  1024.0  161.660714  239.679148   3.0  172.0  34.738095
2021-05-16  16.0   111.0   40.014815   21.876855   7.0   76.0  21.577778

                          ì˜¤ì¡´         ...     ì´ì‚°í™”ì§ˆì†Œ           ì¼ì‚°í™”íƒ„ì†Œ       \
                  std    min    max  ...      mean       std   min  max
(ë…„-ì›”-ì¼:ì‹œ)                            ...
2021-03-28  29.551928  0.002  0.085  ...  0.044579  0.023722   0.3  1.4
2021-04-04  22.399578  0.003  0.055  ...  0.027929  0.014978   0.3  0.9
2021-04-11  11.479343  0.009  0.070  ...  0.022583  0.009562   0.3  0.7
2021-04-18   7.867952  0.002  0.070  ...  0.023753  0.013553   0.3  0.6
2021-04-25  13.094788  0.006  0.090  ...  0.028571  0.014640   0.3  0.8
2021-05-02   8.850965  0.003  0.064  ...  0.020428  0.011676   0.3  0.6
2021-05-09  39.788248  0.002  0.073  ...  0.024187  0.012371   0.3  1.0
2021-05-16  15.622633  0.004  0.123  ...  0.030793  0.009503   0.3  0.8

                                ì•„í™©ì‚°ê°€ìŠ¤
                mean       std    min    max      mean       std
(ë…„-ì›”-ì¼:ì‹œ)
2021-03-28  0.611579  0.232408  0.002  0.006  0.003274  0.000961
2021-04-04  0.445833  0.135741  0.002  0.004  0.002732  0.000541
2021-04-11  0.389286  0.087573  0.002  0.004  0.002744  0.000569
2021-04-18  0.386747  0.084954  0.002  0.004  0.002464  0.000579
2021-04-25  0.457143  0.122142  0.001  0.011  0.003631  0.001763
2021-05-02  0.392771  0.092485  0.001  0.006  0.002524  0.000768
2021-05-09  0.419277  0.103230  0.002  0.004  0.002771  0.000579
2021-05-16  0.440741  0.094075  0.001  0.006  0.002459  0.001696

[8 rows x 24 columns]