In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [2]:
df[['Goals', 'Country']].groupby('Country').agg('sum').sort_values('Goals', ascending=False).head(5)

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

In [3]:
df[['Player', 'Country']].groupby('Country').agg('count').sort_values('Player', ascending=False).head(5)

           Player
Country
Brazil         81
Germany        78
Italy          60
Argentina      59
France         58

In [4]:
def year_check(x):
    lst = x.split('-')
    for year in lst:
        if len(year) != 4:
            return True
    return False

df['yearLst'] = df.Years.str.split('-')
temp = df['Years'].apply(year_check)
temp.sum()

45

In [5]:
df2 = df[df['Years'].apply(year_check) == False]
df2.reset_index(drop=True)

,Player,Goals,Years,Country,yearLst
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]"
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]"
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]"
3,Just Fontaine,13,1958,France,[1958]
4,Pele,12,1958-1962-1966-1970,Brazil,"[1958, 1962, 1966, 1970]"
...,...,...,...,...,...
1245,Josip Skoblar,1,1962,Yugoslavia,[1962]
1246,Safet Susic,1,1982-1990,Yugoslavia,"[1982, 1990]"
1247,Aleksandar Tirnanic,1,1930,Yugoslavia,[1930]
1248,Djordje Vujadinovic,1,1930,Yugoslavia,[1930]
1249,Branko Zebec,1,1954-1958,Yugoslavia,"[1954, 1958]"

In [7]:
df2['LenCup'] = df2['yearLst'].str.len()

C:\Users\pc\AppData\Local\Temp\ipykernel_23488\899007767.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['LenCup'] = df2['yearLst'].str.len()

In [10]:
df2[df2['LenCup'] == 4]['Player'].count()

16

In [12]:
filt = (df2['Country'] == 'Yugoslavia') & (df2['LenCup'] == 2)
df2[filt]['Player'].count()

7

In [14]:
def check_2002(x):
    if '2002' in x:
        return True
    return False

df2[df2['yearLst'].apply(check_2002)]['Player'].count()

156

In [25]:
df2[df2['Player'].str.lower().str.contains('carlos')]['Player'].count()

13

In [33]:
filt = df2['LenCup'] == 1
df2[filt][['Player', 'Goals']].sort_values('Goals', ascending=False)['Player'].values[0]

'Just Fontaine'

In [46]:
df2[filt]['Country'].value_counts().index[0]

'Brazil'