In [1]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [4]:
filt = (df['행복랭킹'] == 10) & (df['년도'].isin([2018, 2019]))
df[filt]['점수'].mean()

7.259

In [9]:
filt = (df['행복랭킹'] <= 50)
df[filt].groupby('년도')['점수'].mean().to_frame()

           점수
년도
2018  6.64678
2019  6.67002

In [12]:
filt = (df['년도'] == 2018)
df[filt][['점수', '부패에 대한인식']].corr().iloc[0, 1]

0.40529152271510027

In [18]:
len(df[['행복랭킹', '나라명']]) - len(df[['행복랭킹', '나라명']].drop_duplicates())

15

In [19]:
filt = (df['년도'] == 2019)

In [26]:
temp = df[filt].corr().unstack().to_frame().reset_index().dropna()

C:\Users\pc\AppData\Local\Temp\ipykernel_23272\1384226708.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  temp = df[filt].corr().unstack().to_frame().reset_index().dropna()

In [32]:
temp = temp[temp[0] != 1].sort_values(0, ascending=False)

In [33]:
temp.columns = ['v1', 'v2', 'corr']

In [40]:
temp.drop_duplicates('corr').head(5)

       v1     v2      corr
38  행복기대치  상대GDP  0.835462
19  상대GDP     점수  0.793883
37  행복기대치     점수  0.779883
28  사회적지원     점수  0.777058
29  사회적지원  상대GDP  0.754906

In [58]:
df.groupby('년도').tail(5).groupby('년도').mean()[['점수']]

C:\Users\pc\AppData\Local\Temp\ipykernel_23272\2333135405.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('년도').tail(5).groupby('년도').mean()[['점수']]

          점수
년도
2018  3.1800
2019  3.1408

In [71]:
filt = (df['년도'] == 2019)

In [72]:
filt2 = (df['상대GDP'].mean())

In [73]:
ge = df[filt & (df['상대GDP'] >= filt2)]

In [74]:
le = df[filt & (df['상대GDP'] <= filt2)]

In [75]:
ge['점수'].mean() - le['점수'].mean()

1.390483957219251

In [93]:
df.sort_values(['년도', '부패에 대한인식'], ascending=False).groupby('년도').head(20).groupby('년도')['부패에 대한인식'].mean()

년도
2018    0.3267
2019    0.3201
Name: 부패에 대한인식, dtype: float64

In [105]:
filt1 = (df['년도'] == 2018) & (df['행복랭킹'] <= 50)
filt2 = (df['년도'] == 2019) & (df['행복랭킹'] <= 50)
len(set(df[filt1]['나라명']) - set(df[filt2]['나라명']))

4

In [166]:
filt = (df['나라명'].value_counts())

In [167]:
temp = filt[filt == 2].index

In [168]:
temp2 = df[df['나라명'].isin(temp)]

In [169]:
temp2.loc[temp2['년도'] == 2018, '점수'] = temp2.loc[temp2['년도'] == 2018, '점수'].values * (-1)

In [175]:
temp2.groupby('나라명').sum()['점수'].sort_values().to_frame().iloc[-1]

점수    0.87
Name: Burundi, dtype: float64