In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [3]:
filt = df.Legendary == True
df[filt].HP.mean() - df[~filt].HP.mean()

25.55614861329147

In [5]:
df['Type 2'].value_counts().index[0]

'Flying'

In [6]:
most = df['Type 1'].value_counts().index[0]

In [7]:
filt = df['Type 1'] == most

In [8]:
df[filt].Attack.mean()/df[filt].Defense.mean()

1.0165238678090576

In [16]:
filt = df.Legendary == True
df[filt].Generation.value_counts().index[0]

3

In [22]:
coef = df[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']]
coef = coef.corr().unstack().to_frame().reset_index()

In [24]:
coef = coef[coef[0] != 1]

In [26]:
coef[0] = abs(coef[0])

C:\Users\pc\AppData\Local\Temp\ipykernel_10264\3443188791.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  coef[0] = abs(coef[0])

In [31]:
coef.sort_values(0, ascending=False).iloc[0]

level_0     Sp. Def
level_1     Defense
0          0.510747
Name: 26, dtype: object

In [32]:
df.sort_values('Attack').groupby('Generation').head(3).Attack.mean()

19.5

In [33]:
df.sort_values('Attack', ascending=False).groupby('Generation').head(5).Attack.mean()

157.23333333333332

In [42]:
df.groupby(['Type 1', 'Type 2']).size().sort_values(ascending=False).head(1)

Type 1  Type 2
Normal  Flying    24
dtype: int64

In [49]:
(df[['Type 1', 'Type 2']].value_counts() == 1).sum()

39

In [55]:
only = df[['Type 1', 'Type 2']].value_counts()

In [90]:
only2 = only[only == 1].reset_index()

In [91]:
lst = []

for value in only2.values:
    t1 = value[0]
    t2 = value[1]
    
    filt = (df['Type 1'] == t1) & (df['Type 2'] == t2)
    df1 = df[filt]
    lst.append(df1)

In [98]:
pd.concat(lst).reset_index(drop=True).Generation.value_counts().sort_index()

4    13
6     9
5     7
3     5
2     4
1     1
Name: Generation, dtype: int64