In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv")
df.head()

                  time  이화동강수  이화동기온  수영동강수  수영동기온
0  2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1  2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2  2020-01-01 02:00:00    0.0   -1.8    0.0    3.8
3  2020-01-01 03:00:00    0.0   -0.8    0.0    4.6
4  2020-01-01 04:00:00    0.0   -0.1    0.0    5.1

In [3]:
df.time = pd.to_datetime(df.time)

In [4]:
filt = df.time.dt.month.isin([6, 7, 8])

In [6]:
(df[filt].이화동기온 > df[filt].수영동기온).sum()

1415

In [13]:
df[df.이화동강수 == df.이화동강수.max()].time.values

array(['2020-09-30T09:00:00.000000000'], dtype='datetime64[ns]')

In [14]:
df[df.수영동강수 == df.수영동강수.max()].time.values

array(['2020-07-23T12:00:00.000000000'], dtype='datetime64[ns]')