In [3]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   64  female  39.330         0     no  northeast  14901.51670
1   47  female  27.830         0    yes  southeast  23065.42070
2   52  female  33.300         2     no  southwest  10806.83900
3   33  female  22.135         1     no  northeast   5354.07465
4   30    male  31.400         1     no  southwest   3659.34600

In [22]:
filt = df.smoker

In [23]:
smk = df[filt == 'yes']
nsmk = df[filt == 'no']

In [25]:
smk10 = smk.charges.quantile(0.9)
nsmk10 = nsmk.charges.quantile(0.9)

In [27]:
smk[smk.charges >= smk10].charges.mean() - nsmk[nsmk.charges >= nsmk10].charges.mean()

29297.954548156144