In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv")
df.head()

,model,year,price,transmission,mileage,fuelType,tax(£),mpg,engineSize
0,Tucson,2016,12795,Manual,36263,Diesel,30,61.7,1.7
1,I10,2012,3995,Manual,22089,Petrol,20,61.4,1.2
2,I30,2019,24000,Manual,555,Petrol,145,34.0,2.0
3,Tucson,2017,12995,Manual,32147,Diesel,30,61.7,1.7
4,Tucson,2018,14991,Semi-Auto,32217,Diesel,150,57.6,1.7

In [12]:
lst = df.model.value_counts().head(3).index

In [18]:
df[df.model.isin(lst)].groupby('model').price.mean()

C:\Users\pc\AppData\Local\Temp\ipykernel_2200\104591668.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df[df.model.isin(lst)].groupby('model').mean()

,year,price,mileage,tax(£),mpg,engineSize
model,,,,,,
I10,2016.939745,7646.137891,18785.079954,105.561993,57.579143,1.065006
I30,2016.773148,11651.821759,25460.217593,114.166667,57.534259,1.467593
Tucson,2017.404194,15805.441373,21122.110582,119.056244,50.361868,1.674166