In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/scipy/ind1.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/scipy/ind2.csv')

In [3]:
df1.head()

         data
0  105.408458
1  108.722618
2   84.398634
3  100.510816
4  100.965949

In [4]:
df2.head()

         data
0   98.329474
1   96.931704
2   95.777325
3   98.744768
4  102.971042

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    100 non-null    float64
dtypes: float64(1)
memory usage: 932.0 bytes

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    100 non-null    float64
dtypes: float64(1)
memory usage: 932.0 bytes

In [8]:
from scipy.stats import shapiro, anderson, ttest_ind, bartlett

In [9]:
shapiro(df1)

ShapiroResult(statistic=0.9860946536064148, pvalue=0.379673033952713)

In [10]:
shapiro(df2)

ShapiroResult(statistic=0.990182638168335, pvalue=0.6793646216392517)

In [12]:
bartlett(df1.data, df2.data)

BartlettResult(statistic=4.170597307474754, pvalue=0.04113129672708929)

In [15]:
ttest_ind(df1.data, df2.data, equal_var=False)

Ttest_indResult(statistic=2.7671907368517195, pvalue=0.006212856853307455)

In [18]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/scipy/scipy5.csv')

In [19]:
df.head()

    A     B
0  74  30.0
1  30  59.0
2  35  69.0
3  45  88.0
4  74  68.0

In [20]:
a = df['A']
b = df['B']

In [21]:
a.info()

<class 'pandas.core.series.Series'>
RangeIndex: 300 entries, 0 to 299
Series name: A
Non-Null Count  Dtype
--------------  -----
300 non-null    int64
dtypes: int64(1)
memory usage: 2.5 KB

In [22]:
b.info()

<class 'pandas.core.series.Series'>
RangeIndex: 300 entries, 0 to 299
Series name: B
Non-Null Count  Dtype
--------------  -----
180 non-null    float64
dtypes: float64(1)
memory usage: 2.5 KB

In [23]:
b = b.dropna()

In [24]:
shapiro(a)

ShapiroResult(statistic=0.93753981590271, pvalue=6.175894240456614e-10)

In [25]:
shapiro(b)

ShapiroResult(statistic=0.9639433026313782, pvalue=0.00013568344002123922)

In [26]:
from scipy.stats import mannwhitneyu, ranksums

In [27]:
mannwhitneyu(a, b)

MannwhitneyuResult(statistic=27036.0, pvalue=0.9807458376150018)

In [28]:
ranksums(a, b)

RanksumsResult(statistic=0.02446942170858557, pvalue=0.9804781743503561)

In [30]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/scipy/ind3.csv')

In [31]:
df.head()

  group        data
0     a  108.065847
1     a   88.714106
2     a   61.182748
3     a   51.763444
4     a  127.858730

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   group   190 non-null    object
 1   data    190 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.1+ KB

In [35]:
a = df[df['group'] == 'a'].data
b = df[df['group'] == 'b'].data

In [36]:
shapiro(a)

ShapiroResult(statistic=0.9834123253822327, pvalue=0.1473984718322754)

In [37]:
shapiro(b)

ShapiroResult(statistic=0.9831852316856384, pvalue=0.4701973497867584)

In [40]:
bartlett(a, b)

BartlettResult(statistic=4.527245852831357, pvalue=0.03335926358531406)

In [41]:
ttest_ind(a, b, equal_var=False)

Ttest_indResult(statistic=-2.1949470315829265, pvalue=0.029512802991767898)

In [42]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/scipy/ind6.csv')

In [43]:
df.head()

            a           b
0  121.023118   69.982090
1   69.740978  139.774624
2   93.737693  175.425924
3  100.331645   85.493555
4   75.048925   83.488953

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       120 non-null    float64
 1   b       70 non-null     float64
dtypes: float64(2)
memory usage: 2.0 KB

In [45]:
a = df['a']
b = df['b'].dropna()

In [46]:
shapiro(a)

ShapiroResult(statistic=0.9865895509719849, pvalue=0.28390026092529297)

In [47]:
shapiro(b)

ShapiroResult(statistic=0.9854326844215393, pvalue=0.5937624573707581)

In [48]:
bartlett(a, b)

BartlettResult(statistic=3.5459493364964523, pvalue=0.059691000498177604)

In [ ]:
ttest_ind(a, b, equal_var=True)