In [3]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv')
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

In [20]:
df.columns = ['DateTime', 'Temperature', 'Humidity', 'Wind Speed', 'general diffuse flows', 'diffuse flows', 'Zone 1 Power Consumption', 'Zone 2 Power Consumption', 'Zone 3 Power Consumption']

In [6]:
df.DateTime = pd.to_datetime(df.DateTime)

In [7]:
df.groupby(df.DateTime.dt.month).size()

DateTime
1     4464
2     4032
3     4464
4     4320
5     4464
6     4320
7     4464
8     4464
9     4320
10    4464
11    4320
12    4320
dtype: int64

In [8]:
filt = df.DateTime.dt.month == 3

In [11]:
march = df[filt]

In [14]:
march.groupby(march.DateTime.dt.hour).Temperature.mean().sort_values().values[0]

11.506612903225806

In [15]:
march.groupby(march.DateTime.dt.hour).Temperature.mean().sort_values().values[-1]

18.393602150537635

In [22]:
filt = (df['Zone 1 Power Consumption']) > (df['Zone 2 Power Consumption'])
df[filt].Humidity.mean()

68.23624448055052

In [23]:
df[['Zone 1 Power Consumption', 'Zone 2 Power Consumption', 'Zone 3 Power Consumption']].corr()

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

In [24]:
def ranking(x):
    if x < 10:
        return 'A'
    elif x < 20:
        return 'B'
    elif x < 30:
        return 'C'
    return 'D'

rank = df.Temperature.apply(ranking)

In [31]:
rank.value_counts()

B    26993
C    21105
A     2874
D     1444
Name: Temperature, dtype: int64

In [32]:
filt = (df.DateTime.dt.month == 6) & (df.DateTime.dt.hour == 12)
df[filt].Temperature.std()

2.049941782795103

In [35]:
filt = df.Temperature >= df.Temperature.mean()
df[filt].sort_values('Temperature').iloc[3]['Humidity']

87.9

In [36]:
filt = df.Temperature >= df.Temperature.median()
df[filt].sort_values('Temperature').iloc[3]['Humidity']

80.3