In [1]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv')
df.head()

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

In [2]:
(df['수축기혈압(최고) : mmHg'] - df['이완기혈압(최저) : mmHg']).mean()

52.19539414750672

In [8]:
filt = (df.측정나이 >= 50) & (df.측정나이 <= 59)

In [9]:
df[filt]['신장 : cm'].mean()

164.07490107405314

In [15]:
age = df.측정나이 // 10 * 10

In [16]:
age.value_counts()

20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
Name: 측정나이, dtype: int64

In [17]:
df['연령대'] = age

In [30]:
df.groupby(['연령대', '등급']).size().to_frame()

            0
연령대  등급
20.0 A   1585
     B   1443
     C   1455
     D   1348
30.0 A    743
     B    697
     C    626
     D    594
40.0 A    386
     B    428
     C    455
     D    532
50.0 A    321
     B    410
     C    474
     D    564
60.0 A    314
     B    371
     C    339
     D    311

In [36]:
filt = df.측정회원성별 == 'M'
filt2 = df.등급
abs(df[filt & (filt2 == 'A')]['체지방율 : %'].mean() - df[filt & (filt2 == 'D')]['체지방율 : %'].mean())

7.932086486137521

In [39]:
filt = df.측정회원성별 == 'F'
filt2 = df.등급
abs(df[filt & (filt2 == 'A')]['체중 : kg'].mean() - df[filt & (filt2 == 'D')]['체중 : kg'].mean())

5.176211590296504

In [42]:
df['bmi'] = df['체중 : kg'] / (df['신장 : cm']/100)**2

In [44]:
filt = df.측정회원성별 == 'M'

In [45]:
df[filt].bmi.mean()

24.46134409819308

In [46]:
filt = df['체지방율 : %'] > df.bmi

In [47]:
df[filt]['체중 : kg'].mean()

61.7408806392542

In [48]:
filt = df.측정회원성별

In [49]:
df[filt == 'M']['악력D : kg'].mean() - df[filt == 'F']['악력D : kg'].mean()

17.55954185047464

In [50]:
df[filt == 'M']['교차윗몸일으키기 : 회'].mean() - df[filt == 'F']['교차윗몸일으키기 : 회'].mean()

14.243156833157627