In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/scipy/dice.csv')

In [3]:
df.head()

   dice_number  counts
0            1      24
1            2      20
2            3      28
3            4      22
4            5      28

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dice_number  6 non-null      int64
 1   counts       6 non-null      int64
dtypes: int64(2)
memory usage: 228.0 bytes

In [5]:
from scipy.stats import chisquare

In [10]:
df['expected'] = (df['counts'].sum()/6).astype(int)

In [12]:
chisquare(df['counts'], df['expected'])

Power_divergenceResult(statistic=2.333333333333333, pvalue=0.8013589222076911)

In [13]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/scipy/hands2.csv')

In [14]:
df.head()

   hands
0  right
1  right
2   left
3  right
4  right

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   hands   500 non-null    object
dtypes: object(1)
memory usage: 4.0+ KB

In [17]:
target = df['hands'].value_counts().to_frame()

In [20]:
target['expected'] = [int(target.hands.sum()*0.8), int(target.hands.sum()*0.2)]

In [21]:
target

       hands  expected
right    420       400
left      80       100

In [22]:
chisquare(target.hands, target.expected)

Power_divergenceResult(statistic=5.0, pvalue=0.025347318677468325)

In [23]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv')

In [24]:
df

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C
...,...,...,...,...,...,...,...,...,...,...,...,...
13391,61.0,M,167.0,65.8,22.2,71.0,130.0,33.7,14.5,37.0,182.0,C
13392,25.0,M,170.7,64.2,22.4,57.0,121.0,32.5,11.8,48.0,196.0,C
13393,47.0,M,166.2,77.5,22.8,84.0,133.0,52.4,11.9,45.0,220.0,B
13394,29.0,M,175.4,74.4,16.1,77.0,124.0,58.4,23.5,48.0,245.0,B
13395,28.0,M,173.8,78.5,17.3,88.0,119.0,50.1,19.9,57.0,237.0,A

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13396 entries, 0 to 13395
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   측정나이              13396 non-null  float64
 1   측정회원성별            13396 non-null  object
 2   신장 : cm           13396 non-null  float64
 3   체중 : kg           13396 non-null  float64
 4   체지방율 : %          13396 non-null  float64
 5   이완기혈압(최저) : mmHg  13396 non-null  float64
 6   수축기혈압(최고) : mmHg  13396 non-null  float64
 7   악력D : kg          13396 non-null  float64
 8   앉아윗몸앞으로굽히기 : cm   13396 non-null  float64
 9   교차윗몸일으키기 : 회      13396 non-null  float64
 10  제자리 멀리뛰기 : cm     13396 non-null  float64
 11  등급                13396 non-null  object
dtypes: float64(10), object(2)
memory usage: 1.2+ MB

In [26]:
cdf = pd.crosstab(df['측정회원성별'], df['등급'])
cdf

등급         A     B     C     D
측정회원성별
F       1484  1130  1147  1120
M       1865  2219  2202  2229

In [27]:
from scipy.stats import chi2_contingency

In [28]:
chi2_contingency(cdf)

Chi2ContingencyResult(statistic=120.06233631119409, pvalue=7.481892813401677e-26, dof=3, expected_freq=array([[1220.25, 1220.25, 1220.25, 1220.25],
       [2128.75, 2128.75, 2128.75, 2128.75]]))

In [29]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/scipy/fe2.csv',index_col=0)

In [30]:
df.head()

    불참  참석  총합
남성   4   2   6
여성   1   9  10
총합   5  11  16

In [31]:
cdf = df.iloc[:-1, :-1]

In [32]:
cdf

    불참  참석
남성   4   2
여성   1   9

In [33]:
from scipy.stats import fisher_exact

In [34]:
chi2_contingency(cdf)

Chi2ContingencyResult(statistic=3.277575757575758, pvalue=0.07023259819117404, dof=1, expected_freq=array([[1.875, 4.125],
       [3.125, 6.875]]))

In [35]:
fisher_exact(cdf)

SignificanceResult(statistic=18.0, pvalue=0.03571428571428571)