In [2]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_test.csv")


display(x_train.head())
display(y_train.head())

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,25298,city_138,0.836,Male,No relevent experience,Full time course,High School,NaN,5,100-500,Pvt Ltd,1,45
1,4241,city_160,0.920,Male,No relevent experience,Full time course,High School,NaN,5,NaN,NaN,1,17
2,24086,city_57,0.866,Male,No relevent experience,no_enrollment,Graduate,STEM,10,NaN,NaN,1,50
3,26773,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,>4,135
4,32325,city_143,0.740,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,17

   enrollee_id  target
0        25298     0.0
1         4241     1.0
2        24086     0.0
3        26773     0.0
4        32325     1.0

In [3]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12452 entries, 0 to 12451
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             12452 non-null  int64
 1   city                    12452 non-null  object
 2   city_development_index  12452 non-null  float64
 3   gender                  9535 non-null   object
 4   relevent_experience     12452 non-null  object
 5   enrolled_university     12195 non-null  object
 6   education_level         12137 non-null  object
 7   major_discipline        10586 non-null  object
 8   experience              12415 non-null  object
 9   company_size            8600 non-null   object
 10  company_type            8471 non-null   object
 11  last_new_job            12179 non-null  object
 12  training_hours          12452 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 1.2+ MB

In [4]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12452 entries, 0 to 12451
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   enrollee_id  12452 non-null  int64
 1   target       12452 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 194.7 KB

In [5]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6706 entries, 0 to 6705
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             6706 non-null   int64
 1   city                    6706 non-null   object
 2   city_development_index  6706 non-null   float64
 3   gender                  5115 non-null   object
 4   relevent_experience     6706 non-null   object
 5   enrolled_university     6577 non-null   object
 6   education_level         6561 non-null   object
 7   major_discipline        5759 non-null   object
 8   experience              6678 non-null   object
 9   company_size            4620 non-null   object
 10  company_type            4547 non-null   object
 11  last_new_job            6556 non-null   object
 12  training_hours          6706 non-null   int64
dtypes: float64(1), int64(2), object(10)
memory usage: 681.2+ KB

In [6]:
x_train = x_train.dropna()
x_test = x_test.dropna()

In [7]:
y_train = y_train[y_train['enrollee_id'].isin(set(x_train['enrollee_id']))]

In [8]:
drop_cols = ['enrollee_id', 'city']

In [9]:
x_train = x_train.drop(columns=drop_cols)
x_test = x_test.drop(columns=drop_cols)

In [13]:
x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)
y_train = y_train.target

In [14]:
from sklearn.model_selection import train_test_split

x_tr, x_val, y_tr, y_val = train_test_split(x_train, y_train, test_size=0.2)

In [17]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(x_tr, y_tr)

RandomForestClassifier()

In [18]:
pred = model.predict(x_val)

In [19]:
from sklearn.metrics import roc_auc_score

roc_auc_score(pred, y_val)

0.7648454289965283

In [37]:
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_test.csv")
y_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_test.csv')

In [38]:
x_test = x_test.drop(columns=drop_cols)

In [39]:
x_test = pd.get_dummies(x_test)
y_test = y_test.target

In [44]:
x_test = x_test[x_tr.columns]

In [45]:
pred = model.predict(x_test)

In [46]:
roc_auc_score(pred, y_test)

0.673760538842956