In [1]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/X_test.csv")


display(x_train.head())
display(y_train.head())

,carID,brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize
0,13207,hyundi,Santa Fe,2019,Semi-Auto,4223,Diesel,145.0,39.8,2.2
1,17314,vauxhall,GTC,2015,Manual,47870,Diesel,125.0,60.1,2.0
2,12342,audi,RS4,2019,Automatic,5151,Petrol,145.0,29.1,2.9
3,13426,vw,Scirocco,2016,Automatic,20423,Diesel,30.0,57.6,2.0
4,16004,skoda,Scala,2020,Semi-Auto,3569,Petrol,145.0,47.1,1.0

   carID  price
0  13207  31995
1  17314   7700
2  12342  58990
3  13426  12999
4  16004  16990

In [2]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4960 entries, 0 to 4959
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   carID         4960 non-null   int64
 1   brand         4960 non-null   object
 2   model         4960 non-null   object
 3   year          4960 non-null   int64
 4   transmission  4960 non-null   object
 5   mileage       4960 non-null   int64
 6   fuelType      4960 non-null   object
 7   tax           4960 non-null   float64
 8   mpg           4960 non-null   float64
 9   engineSize    4960 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 387.6+ KB

In [3]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2672 entries, 0 to 2671
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   carID         2672 non-null   int64
 1   brand         2672 non-null   object
 2   model         2672 non-null   object
 3   year          2672 non-null   int64
 4   transmission  2672 non-null   object
 5   mileage       2672 non-null   int64
 6   fuelType      2672 non-null   object
 7   tax           2672 non-null   float64
 8   mpg           2672 non-null   float64
 9   engineSize    2672 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 208.9+ KB

In [4]:
x_train.describe()

,carID,year,mileage,tax,mpg,engineSize
count,4960.000000,4960.000000,4960.000000,4960.000000,4960.000000,4960.000000
mean,15832.446169,2016.737903,24956.286895,152.332661,50.370766,2.124375
std,2206.717006,2.884035,24443.333662,82.403844,35.746505,0.789368
min,12002.000000,1997.000000,1.000000,0.000000,2.800000,0.000000
25%,13929.250000,2016.000000,5641.250000,145.000000,38.700000,1.600000
50%,15840.000000,2017.000000,19000.000000,145.000000,47.100000,2.000000
75%,17765.750000,2019.000000,36702.000000,150.000000,54.300000,2.800000
max,19629.000000,2020.000000,259000.000000,580.000000,470.800000,6.600000

In [5]:
x_test.describe()

,carID,year,mileage,tax,mpg,engineSize
count,2672.000000,2672.000000,2672.000000,2672.000000,2672.000000,2672.000000
mean,15784.043039,2016.720434,24617.528443,153.261602,49.787275,2.135105
std,2197.045979,2.898906,23142.032992,80.742530,35.269981,0.768596
min,12000.000000,1970.000000,1.000000,0.000000,2.800000,0.000000
25%,13889.750000,2016.000000,6000.000000,145.000000,37.700000,1.600000
50%,15777.500000,2017.000000,18548.000000,145.000000,47.100000,2.000000
75%,17661.500000,2019.000000,36272.250000,160.000000,54.300000,2.800000
max,19631.000000,2020.000000,167054.000000,580.000000,470.800000,6.300000

In [6]:
x_train.describe(include='O')

       brand    model transmission fuelType
count   4960     4960         4960     4960
unique     9       90            4        5
top     merc   Arteon       Manual   Diesel
freq     790      167         1948     2989

In [7]:
x_test.describe(include='O')

       brand      model transmission fuelType
count   2672       2672         2672     2672
unique     9         89            4        5
top     ford   Santa Fe       Manual   Diesel
freq     430         95          989     1662

In [8]:
drop_cols = ['carID']
x_train = x_train.drop(columns=drop_cols)
x_test = x_test.drop(columns=drop_cols)
y_train = y_train.drop(columns=drop_cols)

In [9]:
x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

In [10]:
x_train.columns.difference(x_test.columns)

Index(['model_ M6'], dtype='object')

In [11]:
x_test = x_test.reindex(columns=x_train.columns.tolist()).fillna(0)

In [12]:
x_train = x_train.sort_index(axis=1)
x_test = x_test.sort_index(axis=1)

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import RobustScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [14]:
x_tr, x_val, y_tr, y_val = train_test_split(x_train, y_train, test_size=0.3, random_state=0)

In [15]:
scaler = RobustScaler()
x_tr = scaler.fit_transform(x_tr)
x_val = scaler.transform(x_val)
x_test = scaler.transform(x_test)

In [16]:
model = RandomForestRegressor(random_state=0)
model.fit(x_tr, y_tr)

C:\Users\pc\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor(random_state=0)

In [22]:
pred = model.predict(x_val)
mean_squared_error(y_val, pred)**0.5, r2_score(y_val, pred)

(3595.4951605214437, 0.9535899179518583)

In [18]:
y_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/y_test.csv')
y_test = y_test.drop(columns=drop_cols)

In [23]:
pred = model.predict(x_test)
mean_squared_error(y_test, pred)**0.5, r2_score(y_test, pred)

(3718.808297076089, 0.9497986458668681)