In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('christmas_decoration_sales.csv')

In [3]:
df.head()

  Decoration_Type Region  Sales
0              트리     북부     64
1              트리     남부     67
2              트리     동부     84
3              트리     서부     87
4              트리     북부     87

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Decoration_Type  36 non-null     object
 1   Region           36 non-null     object
 2   Sales            36 non-null     int64
dtypes: int64(1), object(2)
memory usage: 996.0+ bytes

In [5]:
df['Decoration_Type'].value_counts()

트리     12
조명     12
장식품    12
Name: Decoration_Type, dtype: int64

In [11]:
from statsmodels.formula.api import ols
from statsmodels.api import stats

In [13]:
formula = 'Sales ~ C(Decoration_Type) * C(Region)'

In [14]:
model = ols(formula, df).fit()

In [18]:
stats.anova_lm(model, typ=1)

,df,sum_sq,mean_sq,F,PR(>F)
C(Decoration_Type),2.0,1764.500000,882.250000,2.370578,0.114943
C(Region),3.0,804.305556,268.101852,0.720381,0.549614
C(Decoration_Type):C(Region),6.0,5153.944444,858.990741,2.308081,0.066915
Residual,24.0,8932.000000,372.166667,NaN,NaN

In [19]:
stats.anova_lm(model, typ=2)

                                   sum_sq    df         F    PR(>F)
C(Decoration_Type)            1764.500000   2.0  2.370578  0.114943
C(Region)                      804.305556   3.0  0.720381  0.549614
C(Decoration_Type):C(Region)  5153.944444   6.0  2.308081  0.066915
Residual                      8932.000000  24.0       NaN       NaN

In [20]:
stats.anova_lm(model, typ=3)

                                    sum_sq    df          F    PR(>F)
Intercept                     11408.333333   1.0  30.653829  0.000011
C(Decoration_Type)             2786.000000   2.0   3.742947  0.038472
C(Region)                       638.916667   3.0   0.572250  0.638739
C(Decoration_Type):C(Region)   5153.944444   6.0   2.308081  0.066915
Residual                       8932.000000  24.0        NaN       NaN

In [21]:
df = pd.read_csv('Titanic.csv')

In [22]:
df.head()

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [24]:
df['Parch'].value_counts()

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

In [23]:
from statsmodels.formula.api import logit

In [25]:
formula = 'Survived ~ C(Pclass) + C(Gender) + SibSp + Parch'
model = logit(formula, df).fit()

Optimization terminated successfully.
         Current function value: 0.459565
         Iterations 6

In [27]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  891
Model:                          Logit   Df Residuals:                      885
Method:                           MLE   Df Model:                            5
Date:                Fri, 01 Dec 2023   Pseudo R-squ.:                  0.3099
Time:                        09:47:15   Log-Likelihood:                -409.47
converged:                       True   LL-Null:                       -593.33
Covariance Type:            nonrobust   LLR p-value:                 2.687e-77
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept             2.4917      0.239     10.432      0.000       2.024       2.960
C(Pclass)[T.2]       -0.8482      0.247     -3.439      0.001      -1.331      -0.365
C(Pclass)[T.3]       -1.8669      0.215     -8.682      0.000      -2.288      -1.445
C(Gender)[T.male]    -2.7603      0.196    -14.116      0.000      -3.144      -2.377
SibSp                -0.2326      0.099     -2.341      0.019      -0.427      -0.038
Parch                -0.0498      0.110     -0.451      0.652      -0.266       0.167
=====================================================================================
"""

In [28]:
model.params

Intercept            2.491729
C(Pclass)[T.2]      -0.848152
C(Pclass)[T.3]      -1.866905
C(Gender)[T.male]   -2.760281
SibSp               -0.232553
Parch               -0.049847
dtype: float64

In [29]:
import pandas as pd
df = pd.DataFrame({
    'A':[77, 75, 82, 80, 81, 83, 84, 76, 75, 87],
    'B':[80, 74, 77, 79, 71, 74, 78, 69, 70, 72],
})

In [30]:
from scipy.stats import ttest_ind, f_oneway

In [31]:
a = df['A']
b = df['B']

In [32]:
ttest_ind(a, b)

Ttest_indResult(statistic=3.1068522301122954, pvalue=0.006087373605949963)

In [33]:
f_oneway(a, b)

F_onewayResult(statistic=9.652530779753763, pvalue=0.006087373605949924)

In [34]:
a = [200*0.2, 200*0.3, 200*0.25, 200*0.15, 200*0.1]
b = [30, 60, 50, 40, 20]

from scipy.stats import chisquare

In [38]:
chisquare(a, b)

Power_divergenceResult(statistic=5.833333333333334, pvalue=0.21194558437271782)

In [39]:
df = pd.DataFrame({'남자': [100, 200],
                   '여자': [130, 170]},
                  index=['합격', '불합격'])

In [40]:
df

      남자   여자
합격   100  130
불합격  200  170

In [41]:
from scipy.stats import chi2_contingency

In [42]:
chi2_contingency(df)

Chi2ContingencyResult(statistic=5.929494712103407, pvalue=0.01488951060599475, dof=1, expected_freq=array([[115., 115.],
       [185., 185.]]))

In [43]:
df = pd.read_csv('t3_success.csv')

In [44]:
df.head()

   Success
0        1
1        0
2        0
3        1
4        1

In [47]:
n = len(df)
p = df.Success.sum() / n

In [49]:
p

0.62

In [50]:
from scipy.stats import binom

In [53]:
binom.pmf(60, n, p)

0.07464985555860272

In [54]:
df = pd.read_csv('christmas_decoration_sales.csv')

In [56]:
df.head()

  Decoration_Type Region  Sales
0              트리     북부     64
1              트리     남부     67
2              트리     동부     84
3              트리     서부     87
4              트리     북부     87

In [57]:
from statsmodels.api import stats

In [58]:
from statsmodels.formula.api import ols

In [63]:
formula = 'Sales ~ C(Decoration_Type) * C(Region)'
model = ols(formula, df).fit()

In [64]:
stats.anova_lm(model)

,df,sum_sq,mean_sq,F,PR(>F)
C(Decoration_Type),2.0,1764.500000,882.250000,2.370578,0.114943
C(Region),3.0,804.305556,268.101852,0.720381,0.549614
C(Decoration_Type):C(Region),6.0,5153.944444,858.990741,2.308081,0.066915
Residual,24.0,8932.000000,372.166667,NaN,NaN

In [65]:
formula = 'Sales ~ C(Decoration_Type) + C(Region)'
model = ols(formula, df).fit()
stats.anova_lm(model)

                      df        sum_sq     mean_sq         F    PR(>F)
C(Decoration_Type)   2.0   1764.500000  882.250000  1.879001  0.170282
C(Region)            3.0    804.305556  268.101852  0.570999  0.638462
Residual            30.0  14085.944444  469.531481       NaN       NaN