In [1]:
import pandas as pd

In [5]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [6]:
train.head(3)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,4
1,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,2
2,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,2

In [7]:
test.head(3)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,458989,Female,Yes,36,Yes,Engineer,0.0,Low,1.0,Cat_6
1,458994,Male,Yes,37,Yes,Healthcare,8.0,Average,4.0,Cat_6
2,459000,Male,Yes,59,No,Executive,11.0,High,2.0,Cat_6

In [8]:
y_train = train.pop('Segmentation')

In [9]:
train.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4
1,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6
2,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6
3,461319,Male,Yes,56,No,Artist,0.0,Average,2.0,Cat_6
4,460156,Male,No,32,Yes,Healthcare,1.0,Low,3.0,Cat_6

In [12]:
train.describe(include='O')

       Gender Ever_Married Graduated Profession Spending_Score  Var_1
count    6665         6665      6665       6665           6665   6665
unique      2            2         2          9              3      7
top      Male          Yes       Yes     Artist            Low  Cat_6
freq     3677         3944      4249       2192           3999   4476

In [14]:
test.describe(include='O')

       Gender Ever_Married Graduated Profession Spending_Score  Var_1
count    2154         2154      2154       2154           2154   2154
unique      2            2         2          9              3      7
top      Male          Yes       Yes     Artist            Low  Cat_6
freq     1184         1272      1345        696           1326   1421

In [15]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6665 entries, 0 to 6664
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               6665 non-null   int64
 1   Gender           6665 non-null   object
 2   Ever_Married     6665 non-null   object
 3   Age              6665 non-null   int64
 4   Graduated        6665 non-null   object
 5   Profession       6665 non-null   object
 6   Work_Experience  6665 non-null   float64
 7   Spending_Score   6665 non-null   object
 8   Family_Size      6665 non-null   float64
 9   Var_1            6665 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 520.8+ KB

In [16]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2154 entries, 0 to 2153
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2154 non-null   int64
 1   Gender           2154 non-null   object
 2   Ever_Married     2154 non-null   object
 3   Age              2154 non-null   int64
 4   Graduated        2154 non-null   object
 5   Profession       2154 non-null   object
 6   Work_Experience  2154 non-null   float64
 7   Spending_Score   2154 non-null   object
 8   Family_Size      2154 non-null   float64
 9   Var_1            2154 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 168.4+ KB

In [17]:
train.describe()

                 ID          Age  Work_Experience  Family_Size
count    6665.00000  6665.000000      6665.000000  6665.000000
mean   463519.84096    43.536084         2.629107     2.841110
std      2566.43174    16.524054         3.405365     1.524743
min    458982.00000    18.000000         0.000000     1.000000
25%    461349.00000    31.000000         0.000000     2.000000
50%    463575.00000    41.000000         1.000000     2.000000
75%    465741.00000    53.000000         4.000000     4.000000
max    467974.00000    89.000000        14.000000     9.000000

In [18]:
test.describe()

                  ID          Age  Work_Experience  Family_Size
count    2154.000000  2154.000000      2154.000000  2154.000000
mean   463496.744661    43.461467         2.551532     2.837047
std      2591.465156    16.761895         3.344917     1.566872
min    458989.000000    18.000000         0.000000     1.000000
25%    461282.250000    30.000000         0.000000     2.000000
50%    463535.000000    41.000000         1.000000     2.000000
75%    465705.750000    52.000000         4.000000     4.000000
max    467968.000000    89.000000        14.000000     9.000000

In [21]:
train = train.drop(columns='ID')
test = test.drop(columns='ID')

In [25]:
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [28]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
train = scaler.fit_transform(train)

In [30]:
test = scaler.transform(test)

In [31]:
from sklearn.model_selection import train_test_split

x_tr, x_val, y_tr, y_val = train_test_split(train, y_train, test_size=0.3)

In [70]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=0, max_depth=10, n_estimators=500)
model.fit(x_tr, y_tr)

RandomForestClassifier(max_depth=10, n_estimators=200, random_state=0)

In [71]:
pred = model.predict(x_val)

In [72]:
from sklearn.metrics import f1_score

In [73]:
f1_score(y_val, pred, average='macro')

0.5099791194839005

In [74]:
# 0.4782447627127474
# max_depth=5 : 0.4821922603302594
# max_depth=7 : 0.4990350115174097
# max_depth=10 : 0.5165693303923962
# n_estimators=200 : 0.5099791194839005