In [1]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_test.csv")


display(x_train.head())
display(y_train.head())

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,6045,A,Flight,4,3,266,5,high,F,5,1590
1,44,F,Ship,3,1,174,2,low,M,44,1556
2,7940,F,Road,4,1,154,10,high,M,10,5674
3,1596,F,Ship,4,3,158,3,medium,F,27,1207
4,4395,A,Flight,5,3,175,3,low,M,7,4833

     ID  Reached.on.Time_Y.N
0  6045                    0
1    44                    1
2  7940                    1
3  1596                    1
4  4395                    1

In [2]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6598 entries, 0 to 6597
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   6598 non-null   int64
 1   Warehouse_block      6598 non-null   object
 2   Mode_of_Shipment     6598 non-null   object
 3   Customer_care_calls  6598 non-null   object
 4   Customer_rating      6598 non-null   int64
 5   Cost_of_the_Product  6598 non-null   int64
 6   Prior_purchases      6598 non-null   int64
 7   Product_importance   6598 non-null   object
 8   Gender               6598 non-null   object
 9   Discount_offered     6598 non-null   int64
 10  Weight_in_gms        6598 non-null   int64
dtypes: int64(6), object(5)
memory usage: 567.1+ KB

In [3]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6598 entries, 0 to 6597
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   6598 non-null   int64
 1   Reached.on.Time_Y.N  6598 non-null   int64
dtypes: int64(2)
memory usage: 103.2 KB

In [4]:
x_train.describe()

,ID,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms
count,6598.000000,6598.000000,6598.000000,6598.000000,6598.000000,6598.000000
mean,5476.977266,2.991361,210.393149,3.577751,13.353592,3604.191119
std,3172.946154,1.409624,48.258089,1.511394,16.187267,1635.697627
min,1.000000,1.000000,96.000000,2.000000,1.000000,1001.000000
25%,2731.250000,2.000000,170.000000,3.000000,4.000000,1834.250000
50%,5476.000000,3.000000,214.000000,3.000000,7.000000,4119.500000
75%,8187.750000,4.000000,251.000000,4.000000,10.000000,5027.500000
max,10998.000000,5.000000,310.000000,10.000000,65.000000,7684.000000

In [5]:
x_test.describe()

,ID,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms
count,4401.000000,4401.000000,4401.000000,4401.000000,4401.000000,4401.000000
mean,5534.515792,2.989321,209.902522,3.552374,13.402636,3678.731425
std,3178.829286,1.419707,47.773674,1.539936,16.234661,1634.062893
min,2.000000,1.000000,96.000000,2.000000,1.000000,1001.000000
25%,2772.000000,2.000000,169.000000,3.000000,4.000000,1861.000000
50%,5537.000000,3.000000,215.000000,3.000000,7.000000,4195.000000
75%,8322.000000,4.000000,251.000000,4.000000,10.000000,5083.000000
max,10999.000000,5.000000,310.000000,10.000000,65.000000,7846.000000

In [6]:
y_ID = x_test.pop('ID')

In [7]:
x_test

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,D,Ship,5,2,259,5,low,F,7,1032
1,F,Ship,3,5,133,3,medium,F,4,5902
2,F,Road,3,4,191,5,medium,F,4,4243
3,D,Ship,4,2,221,3,low,M,10,4126
4,D,Flight,4,5,230,2,low,F,38,2890
...,...,...,...,...,...,...,...,...,...,...
4396,F,Flight,4,1,157,3,medium,M,31,1712
4397,B,Road,3,5,139,2,medium,M,7,5536
4398,A,Road,4,1,170,10,medium,F,3,5211
4399,B,Ship,3,1,244,3,medium,F,1,5695
4400,A,Ship,3,4,234,2,medium,M,46,3108

In [8]:
drop_cols = ['ID']
x_train = x_train.drop(columns=drop_cols)
y_train = y_train['Reached.on.Time_Y.N']

In [14]:
def change_int(x):
    return int(x.replace('$', ''))

In [17]:
x_train.Customer_care_calls = x_train.Customer_care_calls.apply(change_int)

AttributeError: 'int' object has no attribute 'replace'

In [18]:
x_test.Customer_care_calls = x_test.Customer_care_calls.apply(change_int)

In [19]:
x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

In [20]:
from sklearn.model_selection import train_test_split

x_tr, x_val, y_tr, y_val = train_test_split(x_train, y_train, test_size=0.3)

In [21]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=0, max_depth=7, n_estimators=500)
model.fit(x_tr, y_tr)

RandomForestClassifier(max_depth=7, n_estimators=500, random_state=0)

In [35]:
pred = model.predict(x_val)
pred_proba = model.predict_proba(x_val)[:, 1]

In [36]:
from sklearn.metrics import roc_auc_score

In [39]:
roc_auc_score(y_val, pred_proba)

0.7542556312205343

In [40]:
y_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_test.csv')

In [41]:
y_test = y_test['Reached.on.Time_Y.N']

In [44]:
pred = model.predict(x_test)
pred_proba = model.predict_proba(x_test)[:, 1]

In [46]:
roc_auc_score(y_test, pred_proba)

0.7353934114971628