In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')

In [2]:
df

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12865,14023,47,technician,married,secondary,no,1167,yes,no,cellular,30,apr,1,87,5,failure,yes
12866,17259,31,unknown,married,secondary,no,111,no,no,cellular,21,nov,2,93,2,failure,yes
12867,15200,37,unemployed,single,tertiary,no,1316,yes,no,cellular,18,nov,1,172,2,failure,no
12868,13775,42,management,married,tertiary,no,479,yes,no,unknown,28,may,2,-1,0,unknown,no
12869,20137,24,services,single,secondary,no,0,no,no,unknown,16,may,1,-1,0,unknown,no

In [4]:
df['age'].apply(lambda x:x//10*10).value_counts().index[0]

30

In [6]:
df['age'].apply(lambda x:x//10*10).value_counts().values[0]

5056

In [7]:
cond1 = df.age >= 25
cond2 = df.age < 29
cond3 = df.housing == 'yes'
len(df[cond1 & cond2 & cond3])

504

In [9]:
df.describe(include='O')

,job,marital,education,default,housing,loan,contact,month,poutcome,y
count,12870,12870,12870,12870,12870,12870,12870,12870,12870,12870
unique,12,3,4,2,2,2,3,12,4,2
top,management,married,secondary,no,yes,no,cellular,may,unknown,no
freq,2858,7490,6368,12662,6605,11060,8756,3594,10070,8903

In [10]:
cond1 = df.balance >= df.balance.mean()
df[cond1].sort_values(by='ID', ascending=False).head(100).balance.mean()

3473.73

In [18]:
df[['day', 'month']].groupby(['day', 'month']).value_counts().sort_values().index[-1]

(15, 'may')

In [20]:
cond1 = df.job =='unknown'

In [21]:
from scipy.stats import shapiro

In [23]:
_, pvalue = shapiro(df[cond1].age)

In [24]:
pvalue

0.19612720608711243

In [27]:
from scipy.stats import pearsonr

In [28]:
pearsonr(df.age, df.balance)

PearsonRResult(statistic=0.10198734763981485, pvalue=4.16000022618503e-31)

In [30]:
from scipy.stats import chi2_contingency

In [31]:
cdf = pd.crosstab(df.y, df.education)

In [32]:
chi2_contingency(cdf)

Chi2ContingencyResult(statistic=133.87601246919445, pvalue=7.901201277473551e-29, dof=3, expected_freq=array([[1300.51592852, 4405.15182595, 2818.93745144,  378.39479409],
       [ 579.48407148, 1962.84817405, 1256.06254856,  168.60520591]]))

In [33]:
df.marital.value_counts()

married     7490
single      3905
divorced    1475
Name: marital, dtype: int64

In [56]:
ndf = df.groupby(['job', 'marital']).size().reset_index()

In [60]:
pdf = ndf.pivot_table(index='job', columns='marital')[0]

In [62]:
pdf = pdf.fillna(0)

In [63]:
pdf['ratio'] = pdf['divorced'] / pdf['married']

In [67]:
pdf['ratio'].sort_values().values[-1]

0.2831050228310502

In [121]:
import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv')
submission= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/submission.csv')

display(train.head())
display(test.head())
display(submission.head())

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome
0,53608,32,management,single,tertiary,no,12569,no,no,cellular,1,jul,2,295,2,success
1,51055,25,services,single,secondary,no,801,no,no,cellular,5,jun,2,-1,0,unknown
2,52573,46,blue-collar,married,secondary,no,1728,yes,no,unknown,26,may,2,-1,0,unknown
3,50458,39,management,divorced,secondary,no,51,no,no,unknown,17,jun,2,-1,0,unknown
4,52272,31,services,single,tertiary,no,1626,no,no,unknown,31,jul,1,-1,0,unknown

      ID  predict
0  53608      0.0
1  51055      0.0
2  52573      0.0
3  50458      0.0
4  52272      0.0

In [122]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12870 entries, 0 to 12869
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         12870 non-null  int64
 1   age        12870 non-null  int64
 2   job        12870 non-null  object
 3   marital    12870 non-null  object
 4   education  12870 non-null  object
 5   default    12870 non-null  object
 6   balance    12870 non-null  int64
 7   housing    12870 non-null  object
 8   loan       12870 non-null  object
 9   contact    12870 non-null  object
 10  day        12870 non-null  int64
 11  month      12870 non-null  object
 12  campaign   12870 non-null  int64
 13  pdays      12870 non-null  int64
 14  previous   12870 non-null  int64
 15  poutcome   12870 non-null  object
 16  y          12870 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.7+ MB

In [123]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4291 entries, 0 to 4290
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         4291 non-null   int64
 1   age        4291 non-null   int64
 2   job        4291 non-null   object
 3   marital    4291 non-null   object
 4   education  4291 non-null   object
 5   default    4291 non-null   object
 6   balance    4291 non-null   int64
 7   housing    4291 non-null   object
 8   loan       4291 non-null   object
 9   contact    4291 non-null   object
 10  day        4291 non-null   int64
 11  month      4291 non-null   object
 12  campaign   4291 non-null   int64
 13  pdays      4291 non-null   int64
 14  previous   4291 non-null   int64
 15  poutcome   4291 non-null   object
dtypes: int64(7), object(9)
memory usage: 536.5+ KB

In [124]:
drop_cols = ['ID']
train = train.drop(columns=drop_cols)
test_ID = test.pop('ID')
y_train = train.pop('y')

In [125]:
y_train = y_train.map({
    'no' : 0,
    'yes' : 1
})

In [126]:
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score

In [127]:
scaler = RobustScaler()

In [128]:
numeric_cols = train.select_dtypes('int').columns.tolist()

In [129]:
for col in numeric_cols:
    train[col] = scaler.fit_transform(train[[col]])
    test[col] = scaler.transform(test[[col]])

In [130]:
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [131]:
x_tr, x_val, y_tr, y_val = train_test_split(train, y_train, test_size=0.25, stratify=y_train, random_state=0)

In [132]:
model = RandomForestClassifier(random_state=0)
model.fit(x_tr, y_tr)

RandomForestClassifier(random_state=0)

In [133]:
pred_proba = model.predict_proba(x_val)[:, 1]
roc_auc_score(y_val, pred_proba)

0.7704298358113787

In [136]:
result_proba = model.predict_proba(test)[:, 1]
result = pd.DataFrame({
    'ID' : test_ID,
    'predict' : result_proba
})
result.to_csv('01 모의고사 1회차.csv', index=False)

In [141]:
result_proba

array([0.76, 0.93, 0.02, ..., 0.13, 0.62, 0.07])