In [53]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')

In [54]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

In [55]:
cond1 = df.gender =='Male'

In [56]:
def to_int(x):
    result = ''
    for c in x:
        if c.isnumeric():
            result += c
    return int(result)

df.age = df.age.apply(to_int)

In [57]:
df[cond1].age.mean()

44.68623481781376

In [58]:
bmi_median = df.bmi.dropna().median()
format(df.bmi.fillna(bmi_median).mean(), '.3f')

'29.166'

In [59]:
format(df.bmi.fillna(method='ffill').mean(), '.3f')

'29.188'

In [61]:
cond1 = df.bmi.isnull() == True

In [67]:
df['age2'] = df.age.apply(lambda x:x//10*10)

In [72]:
bmi_age2_mean = df[~cond1].groupby('age2').bmi.mean()

In [74]:
dic = {x:y for x, y in bmi_age2_mean.items()}

In [78]:
df.loc[cond1, 'bmi'] = df[cond1].age2.map(lambda x:dic[x])

In [80]:
df.bmi.mean()

29.2627029367386

In [86]:
cond1 = df.avg_glucose_level >= 200
df.loc[cond1, 'avg_glucose_level'] = 199
cond2 = df.stroke == 1
format(df[cond2].avg_glucose_level.mean(), '.3f')

'125.188'

In [93]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')

In [94]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [104]:
ndf = df.sort_values('Attack', ascending=False)

In [105]:
ndf1 = ndf.iloc[:400, :]
ndf2 = ndf.iloc[400:800, :]

In [106]:
ndf1.Legendary.sum() - ndf2.Legendary.sum()

57

In [112]:
df.groupby('Type 1').Total.mean().sort_values(ascending=False).index[2]

'Flying'

In [113]:
ndf = df.dropna()

In [117]:
n = int(len(df)*0.6)

In [119]:
ndf.head(n).Defense.quantile(0.25)

55.0

In [121]:
cond1 = df['Type 1'] == 'Fire'
fire_mean = df[cond1].Attack.mean()
cond2 = df['Type 1'] == 'Water'
cond3 = df['Attack'] >= fire_mean
len(df[cond2 & cond3])

37

In [122]:
temp = df[['Generation', 'Speed', 'Defense']].groupby('Generation').mean()

In [126]:
temp2 = abs(temp.Speed - temp.Defense)

In [128]:
temp2.sort_values().index[-1]

2

In [239]:
import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/test.csv')

display(train.head())
display(test.head())

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,47472,Female,58,0,0,Yes,Private,Urban,107.26,38.6,formerly smoked
1,36841,Male,78,1,0,Yes,Self-employed,Rural,56.11,25.5,formerly smoked
2,3135,Female,73,0,0,No,Self-employed,Rural,69.35,NaN,never smoked
3,65218,Male,2,0,0,No,children,Rural,109.10,20.0,Unknown
4,1847,Female,20,0,0,No,Govt_job,Rural,79.53,NaN,never smoked

In [240]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1137 entries, 0 to 1136
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1137 non-null   int64
 1   gender             1137 non-null   object
 2   age                1137 non-null   object
 3   hypertension       1137 non-null   int64
 4   heart_disease      1137 non-null   int64
 5   ever_married       1137 non-null   object
 6   work_type          1137 non-null   object
 7   Residence_type     1137 non-null   object
 8   avg_glucose_level  1137 non-null   float64
 9   bmi                1085 non-null   float64
 10  smoking_status     1137 non-null   object
 11  stroke             1137 non-null   int64
dtypes: float64(2), int64(4), object(6)
memory usage: 106.7+ KB

In [241]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 932 entries, 0 to 931
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 932 non-null    int64
 1   gender             932 non-null    object
 2   age                932 non-null    int64
 3   hypertension       932 non-null    int64
 4   heart_disease      932 non-null    int64
 5   ever_married       932 non-null    object
 6   work_type          932 non-null    object
 7   Residence_type     932 non-null    object
 8   avg_glucose_level  932 non-null    float64
 9   bmi                875 non-null    float64
 10  smoking_status     932 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 80.2+ KB

In [242]:
def to_int(x):
    result = ''
    for c in x:
        if c.isnumeric():
            result += c
    return int(result)

train['age'] = train['age'].apply(to_int)

In [243]:
train['bmi'] = train['bmi'].fillna(train.bmi.mean())
test['bmi'] = test['bmi'].fillna(test.bmi.mean())

In [244]:
train.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,1137.000000,1137.000000,1137.000000,1137.000000,1137.000000,1137.000000,1137.000000
mean,36750.933157,45.189094,0.118734,0.068602,107.664002,29.198065,0.120493
std,21112.281253,23.070207,0.323617,0.252887,47.618723,7.492022,0.325680
min,77.000000,0.000000,0.000000,0.000000,55.270000,11.300000,0.000000
25%,17986.000000,28.000000,0.000000,0.000000,77.600000,24.200000,0.000000
50%,37479.000000,48.000000,0.000000,0.000000,91.820000,28.800000,0.000000
75%,55410.000000,63.000000,0.000000,0.000000,113.850000,33.000000,0.000000
max,72918.000000,82.000000,1.000000,1.000000,266.590000,64.400000,1.000000

In [245]:
test.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi
count,932.000000,932.000000,932.000000,932.000000,932.000000,932.000000
mean,36644.275751,44.821888,0.114807,0.050429,107.130708,28.644114
std,21087.289033,22.753582,0.318960,0.218946,45.336215,7.679627
min,121.000000,0.000000,0.000000,0.000000,55.230000,12.800000
25%,17584.750000,26.000000,0.000000,0.000000,77.820000,23.800000
50%,37056.500000,47.000000,0.000000,0.000000,92.840000,28.100000
75%,54125.500000,63.000000,0.000000,0.000000,115.560000,32.000000
max,72911.000000,82.000000,1.000000,1.000000,271.740000,92.000000

In [246]:
train = train.drop(columns='id')
y_train = train.pop('stroke')
test_id = test.pop('id')

In [247]:
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score

In [248]:
scaler = RobustScaler()
numeric_cols = train.select_dtypes(exclude='O').columns.tolist()

In [249]:
numeric_cols

['age', 'hypertension', 'heart_disease', 'avg_glucose_level', 'bmi']

In [250]:
for col in numeric_cols:
    train[col] = scaler.fit_transform(train[[col]])
    test[col] = scaler.transform(test[[col]])

In [256]:
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [257]:
test = test.reindex(columns=train.columns, fill_value=0)

In [258]:
test.loc[:, 'gender_Other'] = test['gender_Other'].astype('uint8')

C:\Users\pc\AppData\Local\Temp\ipykernel_25844\1744347398.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  test.loc[:, 'gender_Other'] = test['gender_Other'].astype('uint8')

In [259]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 932 entries, 0 to 931
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   age                             932 non-null    float64
 1   hypertension                    932 non-null    float64
 2   heart_disease                   932 non-null    float64
 3   avg_glucose_level               932 non-null    float64
 4   bmi                             932 non-null    float64
 5   gender_Female                   932 non-null    uint8
 6   gender_Male                     932 non-null    uint8
 7   gender_Other                    932 non-null    uint8
 8   ever_married_No                 932 non-null    uint8
 9   ever_married_Yes                932 non-null    uint8
 10  work_type_Govt_job              932 non-null    uint8
 11  work_type_Never_worked          932 non-null    uint8
 12  work_type_Private               932 non-null    uint8
 13  work_type_Self-employed         932 non-null    uint8
 14  work_type_children              932 non-null    uint8
 15  Residence_type_Rural            932 non-null    uint8
 16  Residence_type_Urban            932 non-null    uint8
 17  smoking_status_Unknown          932 non-null    uint8
 18  smoking_status_formerly smoked  932 non-null    uint8
 19  smoking_status_never smoked     932 non-null    uint8
 20  smoking_status_smokes           932 non-null    uint8
dtypes: float64(5), uint8(16)
memory usage: 51.1 KB

In [260]:
x_tr, x_val, y_tr, y_val = train_test_split(train, y_train, test_size=0.25, stratify=y_train, random_state=0)

In [286]:
model = RandomForestClassifier(random_state=0, max_depth=5, n_estimators=100)
model.fit(x_tr, y_tr)

RandomForestClassifier(max_depth=5, random_state=0)

In [296]:
pred_proba = model.predict_proba(x_val)[:, 1]
roc_auc_score(y_val, pred_proba)

0.8216545582376377

In [291]:
pred = model.predict_proba(test)[:, 1]
result = pd.DataFrame({
    'id' : test_id,
    'stroke': pred
})

In [292]:
result.to_csv('02 모의고사 2회차.csv', index=False)

In [293]:
pred

array([0.1487817 , 0.34460231, 0.23601616, 0.00381573, 0.03246665,
       0.05129434, 0.20057448, 0.08185425, 0.00321086, 0.18213672,
       0.23124608, 0.03140364, 0.35059031, 0.25263562, 0.06764825,
       0.01709937, 0.07413201, 0.00308446, 0.07794924, 0.16621422,
       0.0218789 , 0.17091771, 0.30066093, 0.11802283, 0.00381573,
       0.06370705, 0.00366893, 0.12259083, 0.17474729, 0.07387311,
       0.20014602, 0.15225127, 0.07371864, 0.01937207, 0.06181868,
       0.33560613, 0.05334866, 0.15375597, 0.13498644, 0.01769925,
       0.00290382, 0.28373711, 0.1935967 , 0.01916947, 0.06182467,
       0.16947882, 0.09369748, 0.3112935 , 0.01913782, 0.07646464,
       0.09106704, 0.18720987, 0.16762321, 0.25679062, 0.41285855,
       0.00366893, 0.05487655, 0.07438909, 0.05148894, 0.05367589,
       0.41371663, 0.26056663, 0.32509641, 0.06333154, 0.06848908,
       0.12643559, 0.14401949, 0.03888302, 0.00366893, 0.06457615,
       0.30570791, 0.31110377, 0.16762448, 0.21628533, 0.0667226 ,
       0.26460237, 0.10662127, 0.15101848, 0.14565229, 0.02559664,
       0.31867427, 0.04953952, 0.20287729, 0.07895045, 0.02420822,
       0.08825472, 0.06325365, 0.12665254, 0.16735504, 0.23185005,
       0.01465629, 0.0962733 , 0.02128917, 0.25802842, 0.06434518,
       0.0632353 , 0.06173956, 0.0666998 , 0.39318476, 0.01410821,
       0.063351  , 0.13117621, 0.00299188, 0.2021545 , 0.06964771,
       0.25744091, 0.21329509, 0.01302926, 0.13586782, 0.00308446,
       0.04623918, 0.25549195, 0.02474408, 0.16109961, 0.04632315,
       0.07316285, 0.27011632, 0.0948738 , 0.34916824, 0.284969  ,
       0.01166529, 0.07708259, 0.0486096 , 0.00366893, 0.23484647,
       0.0614498 , 0.16653284, 0.1539216 , 0.04092122, 0.07965975,
       0.21927452, 0.07265332, 0.11185784, 0.0217288 , 0.00401695,
       0.17656828, 0.42362027, 0.14426179, 0.00390831, 0.01067788,
       0.20433599, 0.10155356, 0.03242861, 0.15297677, 0.01429469,
       0.03292206, 0.01658766, 0.02245087, 0.31258914, 0.07659034,
       0.06119344, 0.00366893, 0.01981418, 0.16583127, 0.30748113,
       0.07964327, 0.00381573, 0.02552824, 0.05287303, 0.07022548,
       0.21146794, 0.22963735, 0.1163785 , 0.07741145, 0.04673495,
       0.10016653, 0.00290382, 0.01980904, 0.00299188, 0.06539758,
       0.0239891 , 0.10890156, 0.00821583, 0.22626162, 0.26054287,
       0.13809278, 0.01767341, 0.08153768, 0.07594005, 0.05831718,
       0.23690415, 0.3580858 , 0.07249232, 0.07958717, 0.00401695,
       0.06764825, 0.00427902, 0.17114212, 0.11057059, 0.10317727,
       0.00390831, 0.07812916, 0.00308446, 0.11724427, 0.05860483,
       0.07550649, 0.12473925, 0.00390831, 0.12627672, 0.0347566 ,
       0.05587878, 0.01660949, 0.00299188, 0.05647008, 0.07311571,
       0.33902152, 0.44016422, 0.33467585, 0.07246627, 0.02396317,
       0.4212412 , 0.14849738, 0.43987647, 0.20854161, 0.06618165,
       0.03249531, 0.3508254 , 0.0333086 , 0.20139874, 0.0662614 ,
       0.39004344, 0.15199573, 0.03838105, 0.09490732, 0.41019737,
       0.07372296, 0.07384276, 0.00308446, 0.15328042, 0.28399302,
       0.24814336, 0.00300044, 0.0135371 , 0.06275683, 0.06224884,
       0.026355  , 0.01202002, 0.07131009, 0.07308249, 0.02804894,
       0.17635343, 0.08753445, 0.21569104, 0.01863969, 0.06138489,
       0.00381573, 0.07687911, 0.02984404, 0.01742971, 0.01908266,
       0.07232479, 0.00381573, 0.00299188, 0.09302435, 0.02500471,
       0.09385746, 0.22027628, 0.00357634, 0.15234275, 0.03348345,
       0.00460348, 0.14363749, 0.4693079 , 0.06334363, 0.01908266,
       0.12323817, 0.0815054 , 0.03650427, 0.07302331, 0.00308446,
       0.10889798, 0.38589386, 0.15763084, 0.02055885, 0.12276066,
       0.19406988, 0.02392507, 0.27642412, 0.05077656, 0.20367815,
       0.0707789 , 0.33148864, 0.00299188, 0.24154852, 0.02007089,
       0.2159201 , 0.00780467, 0.17814504, 0.00381573, 0.14141776,
       0.08973585, 0.20046891, 0.06353477, 0.06105282, 0.05068285,
       0.03920882, 0.18362016, 0.16253656, 0.00728126, 0.09427844,
       0.1426285 , 0.01678557, 0.19146234, 0.06355604, 0.04656492,
       0.01557133, 0.0357091 , 0.14833678, 0.05741387, 0.27034816,
       0.1614008 , 0.00366893, 0.00412729, 0.16443567, 0.16199888,
       0.01743596, 0.06933492, 0.16996625, 0.07793129, 0.0205861 ,
       0.08006149, 0.11764868, 0.18969655, 0.23537952, 0.23279457,
       0.14409008, 0.14895596, 0.07103729, 0.04352225, 0.21295062,
       0.08955841, 0.02108723, 0.01417823, 0.19593801, 0.08110706,
       0.10544761, 0.01882312, 0.14935007, 0.17344804, 0.01769925,
       0.22662788, 0.04874113, 0.00308446, 0.17641445, 0.05902839,
       0.00393391, 0.12175993, 0.12315844, 0.11143702, 0.41667586,
       0.07544405, 0.07944805, 0.06845178, 0.07257081, 0.04766156,
       0.27113147, 0.00290382, 0.02247701, 0.06366438, 0.14395029,
       0.20431528, 0.02926407, 0.02307873, 0.49256157, 0.01562598,
       0.08963701, 0.0367057 , 0.04481061, 0.19640424, 0.29825297,
       0.01417823, 0.25213923, 0.04266992, 0.07699941, 0.02687713,
       0.23166715, 0.26302394, 0.07204418, 0.22833509, 0.16070957,
       0.12214061, 0.25649222, 0.00390831, 0.07384999, 0.06185232,
       0.14345221, 0.05804323, 0.04203519, 0.00873978, 0.1790789 ,
       0.00392936, 0.02990239, 0.05901114, 0.06542968, 0.073173  ,
       0.17680206, 0.3155038 , 0.1282117 , 0.30501907, 0.10270267,
       0.00468947, 0.01287091, 0.02128917, 0.03865666, 0.00393391,
       0.0704518 , 0.14285049, 0.05652625, 0.15287291, 0.0242028 ,
       0.07325849, 0.06607222, 0.11875407, 0.06434098, 0.02137134,
       0.03319188, 0.06182385, 0.01503264, 0.06837367, 0.0375954 ,
       0.00478205, 0.08243487, 0.05993651, 0.00468947, 0.18727822,
       0.08194332, 0.1251204 , 0.07940027, 0.07132208, 0.26087255,
       0.03198304, 0.03650427, 0.31381833, 0.14797192, 0.27155519,
       0.30747407, 0.08856918, 0.09034213, 0.29440014, 0.16365966,
       0.02176565, 0.10482175, 0.08630884, 0.01543869, 0.09986028,
       0.19254113, 0.07452841, 0.10937707, 0.13913321, 0.0825025 ,
       0.06649592, 0.06409054, 0.00408391, 0.37357827, 0.23676099,
       0.08206988, 0.00390831, 0.08090754, 0.01981418, 0.40008997,
       0.14252604, 0.07832334, 0.10443072, 0.06857679, 0.38771578,
       0.17433445, 0.17361238, 0.03137956, 0.02191996, 0.23855135,
       0.27192787, 0.06833223, 0.05106273, 0.15889553, 0.07573005,
       0.07341122, 0.24758042, 0.0768885 , 0.13044362, 0.02371354,
       0.07713956, 0.22217039, 0.28897905, 0.13173606, 0.02442561,
       0.17783004, 0.08039711, 0.00427902, 0.12932353, 0.07020304,
       0.06866951, 0.14954044, 0.05422133, 0.06559124, 0.07528199,
       0.00390831, 0.26388738, 0.04632315, 0.11887445, 0.23727731,
       0.23198686, 0.24302892, 0.17422696, 0.10203526, 0.00401695,
       0.00361308, 0.05598672, 0.32704713, 0.15388272, 0.17042333,
       0.10927921, 0.12664893, 0.00390831, 0.09615087, 0.19166508,
       0.14777568, 0.21673357, 0.06841233, 0.39439515, 0.13563251,
       0.20634335, 0.07627103, 0.11826712, 0.08800022, 0.06975528,
       0.0475475 , 0.15346639, 0.28698301, 0.18016925, 0.08295793,
       0.00427902, 0.05747256, 0.24287825, 0.03403552, 0.30717804,
       0.08184292, 0.06872641, 0.0704518 , 0.09367107, 0.1328231 ,
       0.07109258, 0.11403512, 0.02003292, 0.28453982, 0.12075909,
       0.00456803, 0.03392196, 0.13457337, 0.00299188, 0.20120766,
       0.32288195, 0.02128292, 0.37087526, 0.00403471, 0.06622725,
       0.02359386, 0.03306596, 0.1933114 , 0.04766156, 0.15593517,
       0.25745493, 0.00290382, 0.18333208, 0.00299188, 0.21951852,
       0.43923406, 0.13668346, 0.10693651, 0.3647324 , 0.21010661,
       0.0911683 , 0.19530976, 0.08691698, 0.07568139, 0.02398455,
       0.46869858, 0.03689659, 0.16178424, 0.32240337, 0.0511134 ,
       0.42809936, 0.35880043, 0.02411552, 0.07840567, 0.00381573,
       0.14773467, 0.07082517, 0.06097353, 0.101024  , 0.20071303,
       0.00299188, 0.36134828, 0.07753859, 0.03352323, 0.15409434,
       0.01791242, 0.13950109, 0.07849143, 0.00299188, 0.03302878,
       0.1553463 , 0.10384117, 0.0762229 , 0.14815833, 0.08709404,
       0.16909157, 0.26428258, 0.00780467, 0.25658452, 0.31793484,
       0.03101223, 0.09609208, 0.0943828 , 0.21653317, 0.06769951,
       0.00381573, 0.22976754, 0.13903718, 0.37740752, 0.23706814,
       0.0452379 , 0.00886601, 0.13249281, 0.04002782, 0.10772539,
       0.41422138, 0.15020854, 0.0567158 , 0.33123943, 0.05300148,
       0.34181733, 0.00381573, 0.07492121, 0.05539249, 0.12729787,
       0.08952065, 0.14132262, 0.11876845, 0.111118  , 0.08286779,
       0.02832356, 0.05928016, 0.39021168, 0.16120471, 0.06580356,
       0.21831917, 0.09022518, 0.17954237, 0.19481983, 0.00392936,
       0.15819022, 0.06545589, 0.02339839, 0.0768885 , 0.21113638,
       0.05551288, 0.11336515, 0.09648903, 0.01366893, 0.05516797,
       0.00390831, 0.00401695, 0.14799105, 0.11706888, 0.17824095,
       0.42810107, 0.1349764 , 0.0045109 , 0.1712874 , 0.02230403,
       0.10135157, 0.0568237 , 0.01385597, 0.08177127, 0.4212424 ,
       0.01473558, 0.04870407, 0.11522305, 0.11971052, 0.01283027,
       0.05273899, 0.00862812, 0.10000572, 0.09585849, 0.093605  ,
       0.19770102, 0.05491717, 0.06457606, 0.22460689, 0.17123037,
       0.30399422, 0.15559165, 0.22234601, 0.41492467, 0.05388126,
       0.07055862, 0.08691157, 0.07823559, 0.02816285, 0.06446578,
       0.25762936, 0.0337675 , 0.05608923, 0.12299455, 0.25128862,
       0.07408792, 0.02661814, 0.00381573, 0.04426558, 0.07038587,
       0.03392355, 0.05049621, 0.07074891, 0.06696409, 0.05635545,
       0.05880693, 0.29101608, 0.15634957, 0.00299188, 0.04989309,
       0.20260349, 0.17656244, 0.08066205, 0.07302331, 0.02143613,
       0.00381573, 0.00390831, 0.00401695, 0.05682104, 0.14134711,
       0.09269102, 0.14642548, 0.06493699, 0.26741174, 0.05512226,
       0.05731888, 0.00381573, 0.01470734, 0.07825306, 0.0893062 ,
       0.13263431, 0.17785641, 0.08754805, 0.00728126, 0.09462442,
       0.00478205, 0.40253622, 0.05869073, 0.03359434, 0.10571301,
       0.09827704, 0.08992816, 0.13513682, 0.05422864, 0.16262123,
       0.06164616, 0.04343741, 0.07244518, 0.02180885, 0.23208177,
       0.34106352, 0.10095252, 0.08955677, 0.07668369, 0.02701418,
       0.07078165, 0.07290052, 0.1105277 , 0.42115087, 0.30836767,
       0.0778997 , 0.02478338, 0.28876519, 0.00390831, 0.17942109,
       0.04276376, 0.22414751, 0.09141131, 0.06375077, 0.0669716 ,
       0.13203602, 0.05876582, 0.09151768, 0.00308446, 0.00357634,
       0.17211591, 0.09675374, 0.06751857, 0.08962244, 0.05043421,
       0.06833701, 0.01698462, 0.09346286, 0.22194963, 0.01982021,
       0.05933425, 0.17703457, 0.00308446, 0.16613098, 0.03434024,
       0.08182495, 0.02035992, 0.01417823, 0.05392697, 0.0031981 ,
       0.19630388, 0.05955247, 0.07450732, 0.19951671, 0.11287572,
       0.39119126, 0.00403052, 0.25021408, 0.05589827, 0.06893233,
       0.09899623, 0.01870248, 0.03061253, 0.00300044, 0.07947569,
       0.02512639, 0.05939456, 0.16306576, 0.01121207, 0.11765138,
       0.07328139, 0.31528928, 0.06299655, 0.1440065 , 0.09395114,
       0.08946801, 0.06893029, 0.2570068 , 0.11177559, 0.14248024,
       0.06779273, 0.07409587, 0.00460348, 0.1681581 , 0.02986432,
       0.23934997, 0.00381573, 0.23852828, 0.36281638, 0.04766185,
       0.14707459, 0.19665246, 0.00895475, 0.18448216, 0.06930677,
       0.1454814 , 0.18944823, 0.02760011, 0.08306137, 0.02995488,
       0.0204704 , 0.07983032, 0.2330785 , 0.09668764, 0.12303132,
       0.08456974, 0.33003933, 0.07975836, 0.17627322, 0.01632932,
       0.21459468, 0.04924576, 0.31506803, 0.07431122, 0.06268014,
       0.06941799, 0.01028598, 0.05301146, 0.08802115, 0.09604074,
       0.01700081, 0.338953  , 0.02593138, 0.08074992, 0.28793499,
       0.13684015, 0.06246079, 0.07090119, 0.06412461, 0.00299188,
       0.0774373 , 0.01812949, 0.12926792, 0.080913  , 0.03922948,
       0.00381573, 0.0554277 , 0.10958204, 0.02465725, 0.09616631,
       0.14873302, 0.20084898, 0.08889158, 0.02152942, 0.31937137,
       0.1674486 , 0.00437564, 0.04879844, 0.23013655, 0.17762689,
       0.31706321, 0.0636209 , 0.08384938, 0.03255124, 0.01597683,
       0.00381573, 0.10405419, 0.01791709, 0.27678771, 0.20328559,
       0.0046559 , 0.3090984 , 0.16747482, 0.09958682, 0.06071055,
       0.08494512, 0.00904055, 0.23239738, 0.05068285, 0.04764272,
       0.00390831, 0.42269932, 0.13748444, 0.02687807, 0.08001847,
       0.2923712 , 0.06982664])