In [20]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p1_1.csv')
df.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,NaN,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.9,4.98,24.0
1,0.02731,NaN,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.9,9.14,21.6

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       466 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       468 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [22]:
crim_10 = df.sort_values('CRIM', ascending=False).head(10)
crim_10_min = crim_10['CRIM'].min()

In [23]:
df.loc[crim_10.index, 'CRIM'] = crim_10_min

In [24]:
cond = df['AGE'] >= 80

In [25]:
df[cond]['CRIM'].mean()

5.759386625

In [18]:
rm_median = df['RM'].median()

In [27]:
rm_df = df['RM'].fillna(rm_median)

In [28]:
round(abs(df['RM'].std() - rm_df.std()), 3)

0.027

In [29]:
df['RM'] = df['RM'].fillna(rm_median)

In [30]:
dis_mean = df['DIS'].mean()

In [31]:
dis_std = df['DIS'].std()

In [32]:
upper_bound = dis_mean + 1.5 * dis_std
lower_bound = dis_mean - 1.5 * dis_std

In [33]:
cond1 = df['DIS'] > upper_bound
cond2 = df['DIS'] < lower_bound

In [42]:
df[cond1 | cond2]['DIS'].sum()

404.4101

In [107]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_test.csv")


display(x_train.head())
display(y_train.head())

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,6045,A,Flight,4,3,266,5,high,F,5,1590
1,44,F,Ship,3,1,174,2,low,M,44,1556
2,7940,F,Road,4,1,154,10,high,M,10,5674
3,1596,F,Ship,4,3,158,3,medium,F,27,1207
4,4395,A,Flight,5,3,175,3,low,M,7,4833

     ID  Reached.on.Time_Y.N
0  6045                    0
1    44                    1
2  7940                    1
3  1596                    1
4  4395                    1

In [108]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6598 entries, 0 to 6597
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   6598 non-null   int64
 1   Warehouse_block      6598 non-null   object
 2   Mode_of_Shipment     6598 non-null   object
 3   Customer_care_calls  6598 non-null   object
 4   Customer_rating      6598 non-null   int64
 5   Cost_of_the_Product  6598 non-null   int64
 6   Prior_purchases      6598 non-null   int64
 7   Product_importance   6598 non-null   object
 8   Gender               6598 non-null   object
 9   Discount_offered     6598 non-null   int64
 10  Weight_in_gms        6598 non-null   int64
dtypes: int64(6), object(5)
memory usage: 567.1+ KB

In [109]:
def to_int(x):
    result = ''
    for c in x:
        if c.isnumeric():
            result += c
    return int(result)

In [110]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4401 entries, 0 to 4400
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   4401 non-null   int64
 1   Warehouse_block      4401 non-null   object
 2   Mode_of_Shipment     4401 non-null   object
 3   Customer_care_calls  4401 non-null   object
 4   Customer_rating      4401 non-null   int64
 5   Cost_of_the_Product  4401 non-null   int64
 6   Prior_purchases      4401 non-null   int64
 7   Product_importance   4401 non-null   object
 8   Gender               4401 non-null   object
 9   Discount_offered     4401 non-null   int64
 10  Weight_in_gms        4401 non-null   int64
dtypes: int64(6), object(5)
memory usage: 378.3+ KB

In [111]:
x_train['Customer_care_calls'] = x_train['Customer_care_calls'].apply(to_int)
x_test['Customer_care_calls'] = x_test['Customer_care_calls'].apply(to_int)

In [112]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6598 entries, 0 to 6597
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   6598 non-null   int64
 1   Warehouse_block      6598 non-null   object
 2   Mode_of_Shipment     6598 non-null   object
 3   Customer_care_calls  6598 non-null   int64
 4   Customer_rating      6598 non-null   int64
 5   Cost_of_the_Product  6598 non-null   int64
 6   Prior_purchases      6598 non-null   int64
 7   Product_importance   6598 non-null   object
 8   Gender               6598 non-null   object
 9   Discount_offered     6598 non-null   int64
 10  Weight_in_gms        6598 non-null   int64
dtypes: int64(7), object(4)
memory usage: 567.1+ KB

In [113]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4401 entries, 0 to 4400
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   4401 non-null   int64
 1   Warehouse_block      4401 non-null   object
 2   Mode_of_Shipment     4401 non-null   object
 3   Customer_care_calls  4401 non-null   int64
 4   Customer_rating      4401 non-null   int64
 5   Cost_of_the_Product  4401 non-null   int64
 6   Prior_purchases      4401 non-null   int64
 7   Product_importance   4401 non-null   object
 8   Gender               4401 non-null   object
 9   Discount_offered     4401 non-null   int64
 10  Weight_in_gms        4401 non-null   int64
dtypes: int64(7), object(4)
memory usage: 378.3+ KB

In [114]:
x_train.describe()

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms
count,6598.000000,6598.000000,6598.000000,6598.000000,6598.000000,6598.000000,6598.000000
mean,5476.977266,4.051985,2.991361,210.393149,3.577751,13.353592,3604.191119
std,3172.946154,1.149251,1.409624,48.258089,1.511394,16.187267,1635.697627
min,1.000000,2.000000,1.000000,96.000000,2.000000,1.000000,1001.000000
25%,2731.250000,3.000000,2.000000,170.000000,3.000000,4.000000,1834.250000
50%,5476.000000,4.000000,3.000000,214.000000,3.000000,7.000000,4119.500000
75%,8187.750000,5.000000,4.000000,251.000000,4.000000,10.000000,5027.500000
max,10998.000000,7.000000,5.000000,310.000000,10.000000,65.000000,7684.000000

In [115]:
x_test.describe()

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms
count,4401.000000,4401.000000,4401.000000,4401.000000,4401.000000,4401.000000,4401.000000
mean,5534.515792,4.058169,2.989321,209.902522,3.552374,13.402636,3678.731425
std,3178.829286,1.129874,1.419707,47.773674,1.539936,16.234661,1634.062893
min,2.000000,2.000000,1.000000,96.000000,2.000000,1.000000,1001.000000
25%,2772.000000,3.000000,2.000000,169.000000,3.000000,4.000000,1861.000000
50%,5537.000000,4.000000,3.000000,215.000000,3.000000,7.000000,4195.000000
75%,8322.000000,5.000000,4.000000,251.000000,4.000000,10.000000,5083.000000
max,10999.000000,7.000000,5.000000,310.000000,10.000000,65.000000,7846.000000

In [116]:
x_test

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,6811,D,Ship,5,2,259,5,low,F,7,1032
1,4320,F,Ship,3,5,133,3,medium,F,4,5902
2,5732,F,Road,3,4,191,5,medium,F,4,4243
3,7429,D,Ship,4,2,221,3,low,M,10,4126
4,2191,D,Flight,4,5,230,2,low,F,38,2890
...,...,...,...,...,...,...,...,...,...,...,...
4396,2610,F,Flight,4,1,157,3,medium,M,31,1712
4397,3406,B,Road,3,5,139,2,medium,M,7,5536
4398,10395,A,Road,4,1,170,10,medium,F,3,5211
4399,3646,B,Ship,3,1,244,3,medium,F,1,5695
4400,573,A,Ship,3,4,234,2,medium,M,46,3108

In [117]:
drop_cols = ['ID']
x_train = x_train.drop(columns=drop_cols)
y_train = y_train.drop(columns=drop_cols)
x_test_id = x_test.pop('ID')

In [185]:
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score, roc_auc_score

In [119]:
numeric_cols = x_train.select_dtypes(exclude='O').columns

In [120]:
scaler = RobustScaler()

for col in numeric_cols:
    x_train[col] = scaler.fit_transform(x_train[[col]])
    x_test[col] = scaler.transform(x_test[[col]])

In [121]:
x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

In [122]:
x_train.columns.difference(x_test.columns)

Index([], dtype='object')

In [123]:
x_test.columns.difference(x_train.columns)

Index([], dtype='object')

In [124]:
x_tr, x_val, y_tr, y_val = train_test_split(x_train, y_train, test_size=0.25, stratify=y_train, random_state=0)

In [256]:
model = RandomForestClassifier(random_state=0, max_depth=10, n_estimators=500)
model.fit(x_tr, y_tr)

C:\Users\pc\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestClassifier(max_depth=10, n_estimators=500, random_state=0)

In [257]:
pred = model.predict(x_val)
pred_proba = model.predict_proba(x_val)[:, 1]
f1_score(y_val, pred), roc_auc_score(y_val, pred)

(0.6858858858858858, 0.7078928285179955)

In [258]:
pred = model.predict(x_test)
pred_proba = model.predict_proba(x_test)[:, 1]

In [259]:
result = pd.DataFrame({
    'ID': x_test_id,
    'pred': pred
})

In [260]:
result.to_csv('04 2회 기출 변형.csv', index=False)

In [261]:
y_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_test.csv')

In [262]:
y_test = y_test['Reached.on.Time_Y.N']

In [263]:
f1_score(y_test, pred), roc_auc_score(y_test, pred)

(0.6665159394076419, 0.6896690730828229)

In [264]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p3_1.csv')
df.head(5)

     fish   height
0  fish_1  33.74cm
1  fish_2  31.64cm
2  fish_3  27.49cm
3  fish_4  31.43cm
4  fish_5  27.56cm

In [265]:
def height_to_float(x):
    return float(x[:-2])

In [266]:
df['height'] = df['height'].apply(height_to_float)

In [269]:
format(df['height'].mean()/100, '.5f')

'0.29951'

In [274]:
from scipy.stats import shapiro, ttest_1samp, wilcoxon

In [275]:
height = df['height']

In [276]:
shapiro(height)

ShapiroResult(statistic=0.9596560001373291, pvalue=0.0010598305379971862)

In [280]:
statistic, pvalue = ttest_1samp(height, 30)

In [279]:
wilcoxon(height-30)

WilcoxonResult(statistic=3685.0, pvalue=0.9886493695862292)

In [281]:
format(statistic, '.3f')

'-0.217'

In [283]:
format(pvalue, '.3f'), print('귀무')

귀무

('0.829', None)

In [285]:
from scipy.stats import binom

In [286]:
n = 21
p = 0.7
k = 16

In [290]:
binom.cdf(k-1, n, p)

0.6372880857234826