In [8]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_1.csv')
df.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20317 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          19690 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20406 non-null  float64
 8   median_house_value  20596 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [10]:
df = df.dropna()

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18957 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           18957 non-null  float64
 1   latitude            18957 non-null  float64
 2   housing_median_age  18957 non-null  float64
 3   total_rooms         18957 non-null  float64
 4   total_bedrooms      18957 non-null  float64
 5   population          18957 non-null  float64
 6   households          18957 non-null  float64
 7   median_income       18957 non-null  float64
 8   median_house_value  18957 non-null  float64
 9   ocean_proximity     18957 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [13]:
len(df)

18957

In [14]:
df = df.head(int(len(df)*0.7))

In [15]:
len(df)

13269

In [16]:
round(df.median_income.quantile(0.25), 2)

2.51

In [17]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_2.csv')
df.head()

  Country Name Country Code  Year      Value
0   Arab World          ARB  1968  2576068.3
1   Arab World          ARB  1969  2843420.4
2   Arab World          ARB  1970  3138550.0
3   Arab World          ARB  1971  3642691.0
4   Arab World          ARB  1972  4331605.7

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11507 entries, 0 to 11506
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  11507 non-null  object
 1   Country Code  11507 non-null  object
 2   Year          11507 non-null  int64
 3   Value         11507 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 359.7+ KB

In [45]:
df_1990 = df[df.Year == 1990]
df_2010 = df[df.Year == 2010]

In [49]:
df_1990_filt = df_1990[df_1990.Value <= df_1990.Value.mean()]
df_2010_filt = df_2010[df_2010.Value >= df_2010.Value.mean()]

In [51]:
len(set(df_1990_filt['Country Code']) & set(df_2010_filt['Country Code']))

5

In [52]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_3.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S
1,2,1,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C
2,3,1,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,C85,S
3,4,1,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S
4,5,0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450,8.0500,C123,S

In [55]:
df.isnull().sum().sort_values().index[-1]

'Fare'

In [56]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_train_.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_test_.csv')
train.head()

,ID,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,1008,26,Private Sector/Self Employed,Yes,1400000,5,0,No,Yes,1
1,199,30,Private Sector/Self Employed,No,1450000,5,0,Yes,Yes,1
2,86,32,Government Sector,Yes,900000,4,0,No,No,0
3,560,26,Private Sector/Self Employed,Yes,1400000,7,0,No,Yes,1
4,161,34,Private Sector/Self Employed,No,1400000,3,1,No,Yes,1

In [57]:
y_train = train.pop('TravelInsurance')
train = train.drop(columns='ID')
test_id = test.pop('ID')

In [58]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  1490 non-null   int64
 1   Employment Type      1490 non-null   object
 2   GraduateOrNot        1490 non-null   object
 3   AnnualIncome         1490 non-null   int64
 4   FamilyMembers        1490 non-null   int64
 5   ChronicDiseases      1490 non-null   int64
 6   FrequentFlyer        1490 non-null   object
 7   EverTravelledAbroad  1490 non-null   object
dtypes: int64(4), object(4)
memory usage: 93.3+ KB

In [59]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  497 non-null    int64
 1   Employment Type      497 non-null    object
 2   GraduateOrNot        497 non-null    object
 3   AnnualIncome         497 non-null    int64
 4   FamilyMembers        497 non-null    int64
 5   ChronicDiseases      497 non-null    int64
 6   FrequentFlyer        497 non-null    object
 7   EverTravelledAbroad  497 non-null    object
dtypes: int64(4), object(4)
memory usage: 31.2+ KB

In [60]:
train.describe()

               Age  AnnualIncome  FamilyMembers  ChronicDiseases
count  1490.000000  1.490000e+03    1490.000000      1490.000000
mean     29.716779  9.320470e+05       4.761745         0.285235
std       2.931325  3.760655e+05       1.615161         0.451678
min      25.000000  3.000000e+05       2.000000         0.000000
25%      28.000000  6.000000e+05       4.000000         0.000000
50%      29.000000  9.000000e+05       5.000000         0.000000
75%      32.000000  1.250000e+06       6.000000         1.000000
max      35.000000  1.800000e+06       9.000000         1.000000

In [61]:
test.describe()

              Age  AnnualIncome  FamilyMembers  ChronicDiseases
count  497.000000  4.970000e+02     497.000000       497.000000
mean    29.450704  9.349095e+05       4.726358         0.255533
std      2.852221  3.795871e+05       1.594335         0.436600
min     25.000000  3.000000e+05       2.000000         0.000000
25%     28.000000  6.000000e+05       4.000000         0.000000
50%     28.000000  9.000000e+05       4.000000         0.000000
75%     32.000000  1.250000e+06       6.000000         1.000000
max     35.000000  1.750000e+06       9.000000         1.000000

In [62]:
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score

In [63]:
numeric_cols = train.select_dtypes(exclude='O').columns
scaler = RobustScaler()

for col in numeric_cols:
    train[col] = scaler.fit_transform(train[[col]])
    test[col] = scaler.transform(test[[col]])

In [64]:
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [65]:
x_tr, x_val, y_tr, y_val = train_test_split(train, y_train, test_size=0.25, stratify=y_train, random_state=0)

In [66]:
train.columns.difference(test.columns)

Index([], dtype='object')

In [67]:
test.columns.difference(train.columns)

Index([], dtype='object')

In [99]:
model = RandomForestClassifier(random_state=0, max_depth=5, n_estimators=100)
model.fit(x_tr, y_tr)

RandomForestClassifier(max_depth=5, random_state=0)

In [100]:
pred_proba = model.predict_proba(x_val)[:, 1]
roc_auc_score(y_val, pred_proba)

0.8481516290726817

In [101]:
proba = model.predict_proba(test)[:, 1]
result = pd.DataFrame({
    'ID': test_id,
    'proba': proba
})

In [95]:
result.to_csv('05 3회 기출 변형.csv', index=False)

In [102]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_1.csv')
df.head()

       ID     투약전     투약후
0  user_1  55.137  56.106
1  user_2  66.584  60.409
2  user_3  52.259  50.639
3  user_4  77.081  69.164
4  user_5  62.677  57.622

In [103]:
# A : ~ -3
# B : -3 ~ 0
# C : 0 ~
# 2:1:1

In [105]:
cond = df['투약후'] - df['투약전']
a = df[cond <= -3]
b = df[(cond > -3) & (cond <= 0)]
c = df[cond > 0]

In [106]:
len(a)

121

In [110]:
def groupping(x):
    if x <= -3:
        return 'A'
    elif x <= 0:
        return 'B'
    return 'C'

df['value'] = cond
df['group'] =  df['value'].apply(groupping)

In [112]:
from scipy.stats import chisquare

In [168]:
ndf = df['group'].value_counts().to_frame()

In [171]:
n = ndf.group.sum()

In [173]:
ndf['expected'] = [n*0.5, n*0.25, n*0.25]

In [174]:
ndf

   group  expected
A    121    117.50
B     67     58.75
C     47     58.75

In [176]:
statistic, pvalue = chisquare(ndf['group'], ndf['expected'])

In [177]:
round(statistic, 3)

3.613

In [178]:
round(pvalue, 3)

0.164

In [180]:
'귀무'

'귀무'

In [181]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_2_.csv')
df.head()

     rpm group
0  163.6     A
1  246.9     A
2  234.9     A
3  156.9     A
4  226.6     A

In [182]:
from scipy.stats import shapiro

In [185]:
a = df[df['group'] == 'A']['rpm']
b = df[df['group'] == 'B']['rpm']

In [186]:
shapiro(a), shapiro(b)

(ShapiroResult(statistic=0.9863898158073425, pvalue=0.397915244102478),
 ShapiroResult(statistic=0.9943947196006775, pvalue=0.9562925100326538))

In [187]:
from scipy.stats import bartlett

In [188]:
bartlett(a, b)

BartlettResult(statistic=0.018038205297268895, pvalue=0.8931603037661102)

In [189]:
from scipy.stats import ttest_rel

In [190]:
ttest_rel(a, b, alternative='less')

TtestResult(statistic=-2.408800138279077, pvalue=0.008927208346711192, df=99)