In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_1.csv')
df.head(5)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.5,2.625,211.350143,8.106

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   object
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(4), int64(2), object(2)
memory usage: 402.3+ KB

In [3]:
df['Temperature'].values

array(['42.31', '38.51', '39.93', ..., '54.47', '56.47', '58.85'],
      dtype=object)

In [5]:
def to_float(x):
    result = ''
    a = x.split('.')[0]
    b = x.split('.')[1]
    for c in a:
        if c.isnumeric():
            result += c
    result += '.'
    for c in b:
        if c.isnumeric():
            result += c
    return float(result)

df['Temperature'] = df['Temperature'].apply(to_float)

In [7]:
q1, q3 = df['Temperature'].quantile([0.25, 0.75])
float(format((q3 - q1), '.2f'))

27.48

In [17]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_2.csv')
df.head(5)

,Title,Video ID,Published At,Keyword,Likes,Comments,Views
0,Apple Pay Is Killing the Physical Wallet After...,wAZZ-UWGVHI,2022-08-23,tech,3407.0,672.0,135612.0
1,The most EXPENSIVE thing I own.,b3x28s61q3c,2022-08-24,tech,76779.0,4306.0,1758063.0
2,My New House Gaming Setup is SICK!,4mgePWWCAmA,2022-08-23,tech,63825.0,3338.0,1564007.0
3,Petrol Vs Liquid Nitrogen | Freezing Experimen...,kXiYSI7H2b0,2022-08-23,tech,71566.0,1426.0,922918.0
4,Best Back to School Tech 2022!,ErMwWXQxHp0,2022-08-08,tech,96513.0,5155.0,1855644.0

In [19]:
cond1 = df['Likes'] / df['Comments'] >= 20
cond2 = df['Keyword'] == 'minecraft'
int(df[cond1 & cond2]['Views'].mean())

1789084

In [20]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_3.csv')
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [27]:
df['date_added'] = pd.to_datetime(df['date_added'])

In [29]:
cond1 = df['date_added'].dt.year == 2018
cond2 = df['date_added'].dt.month == 1
cond3 = df['country'] == 'United Kingdom'
len(df[cond1 & cond2 & cond3])

6

In [59]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p2_train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p2_test.csv')

display(train.head(2))
test.head(2)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,464357,Male,No,40,Yes,Artist,7.0,Low,1.0,Cat_6,A
1,459624,Male,No,18,No,Healthcare,NaN,Low,5.0,Cat_4,D

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,460406,Male,Yes,36,Yes,Healthcare,3.0,Low,2.0,Cat_6
1,466890,Male,Yes,47,Yes,Artist,0.0,Average,6.0,Cat_7

In [60]:
y_train = train.pop('Segmentation')
train = train.drop(columns='ID')
test_id = test.pop('ID')

In [61]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4881 entries, 0 to 4880
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           4881 non-null   object
 1   Ever_Married     4785 non-null   object
 2   Age              4881 non-null   int64
 3   Graduated        4830 non-null   object
 4   Profession       4817 non-null   object
 5   Work_Experience  4368 non-null   float64
 6   Spending_Score   4881 non-null   object
 7   Family_Size      4689 non-null   float64
 8   Var_1            4831 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 343.3+ KB

In [62]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1542 entries, 0 to 1541
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           1542 non-null   object
 1   Ever_Married     1520 non-null   object
 2   Age              1542 non-null   int64
 3   Graduated        1526 non-null   object
 4   Profession       1519 non-null   object
 5   Work_Experience  1400 non-null   float64
 6   Spending_Score   1542 non-null   object
 7   Family_Size      1474 non-null   float64
 8   Var_1            1530 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 108.6+ KB

In [63]:
train.Ever_Married = train.Ever_Married.fillna(train.Ever_Married.mode()[0])
test.Ever_Married = test.Ever_Married.fillna(test.Ever_Married.mode()[0])

In [64]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4881 entries, 0 to 4880
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           4881 non-null   object
 1   Ever_Married     4881 non-null   object
 2   Age              4881 non-null   int64
 3   Graduated        4830 non-null   object
 4   Profession       4817 non-null   object
 5   Work_Experience  4368 non-null   float64
 6   Spending_Score   4881 non-null   object
 7   Family_Size      4689 non-null   float64
 8   Var_1            4831 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 343.3+ KB

In [65]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1542 entries, 0 to 1541
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           1542 non-null   object
 1   Ever_Married     1542 non-null   object
 2   Age              1542 non-null   int64
 3   Graduated        1526 non-null   object
 4   Profession       1519 non-null   object
 5   Work_Experience  1400 non-null   float64
 6   Spending_Score   1542 non-null   object
 7   Family_Size      1474 non-null   float64
 8   Var_1            1530 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 108.6+ KB

In [66]:
train.Graduated = train.Graduated.fillna(train.Graduated.mode()[0])
test.Graduated = test.Graduated.fillna(test.Graduated.mode()[0])

In [67]:
train.Profession = train.Profession.fillna(train.Profession.mode()[0])
test.Profession = test.Profession.fillna(test.Profession.mode()[0])

In [68]:
train.Work_Experience = train.Work_Experience.fillna(train.Work_Experience.median())
test.Work_Experience = test.Work_Experience.fillna(test.Work_Experience.median())

In [69]:
train.Family_Size = train.Family_Size.fillna(train.Family_Size.median())
test.Family_Size = test.Family_Size.fillna(test.Family_Size.median())

In [70]:
train.Var_1 = train.Var_1.fillna(train.Var_1.mode()[0])
test.Var_1 = test.Var_1.fillna(test.Var_1.mode()[0])

In [71]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4881 entries, 0 to 4880
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           4881 non-null   object
 1   Ever_Married     4881 non-null   object
 2   Age              4881 non-null   int64
 3   Graduated        4881 non-null   object
 4   Profession       4881 non-null   object
 5   Work_Experience  4881 non-null   float64
 6   Spending_Score   4881 non-null   object
 7   Family_Size      4881 non-null   float64
 8   Var_1            4881 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 343.3+ KB

In [72]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1542 entries, 0 to 1541
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           1542 non-null   object
 1   Ever_Married     1542 non-null   object
 2   Age              1542 non-null   int64
 3   Graduated        1542 non-null   object
 4   Profession       1542 non-null   object
 5   Work_Experience  1542 non-null   float64
 6   Spending_Score   1542 non-null   object
 7   Family_Size      1542 non-null   float64
 8   Var_1            1542 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 108.6+ KB

In [73]:
train.describe()

               Age  Work_Experience  Family_Size
count  4881.000000      4881.000000  4881.000000
mean     43.567916         2.508093     2.844499
std      16.687728         3.306908     1.508648
min      18.000000         0.000000     1.000000
25%      31.000000         0.000000     2.000000
50%      41.000000         1.000000     3.000000
75%      53.000000         4.000000     4.000000
max      89.000000        14.000000     9.000000

In [74]:
test.describe()

               Age  Work_Experience  Family_Size
count  1542.000000      1542.000000  1542.000000
mean     43.285344         2.319066     2.908560
std      16.726421         3.073512     1.532284
min      18.000000         0.000000     1.000000
25%      30.000000         0.000000     2.000000
50%      40.000000         1.000000     3.000000
75%      53.000000         3.000000     4.000000
max      89.000000        14.000000     9.000000

In [76]:
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score, roc_auc_score

In [77]:
numeric_cols = train.select_dtypes(exclude='O').columns
scaler = RobustScaler()

for col in numeric_cols:
    train[col] = scaler.fit_transform(train[[col]])
    test[col] = scaler.transform(test[[col]])

In [78]:
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [79]:
train.columns.difference(test.columns)

Index([], dtype='object')

In [80]:
test.columns.difference(train.columns)

Index([], dtype='object')

In [81]:
x_tr, x_val, y_tr, y_val = train_test_split(train, y_train, test_size=0.25, stratify=y_train, random_state=0)

In [132]:
model = RandomForestClassifier(random_state=0, max_depth=10, n_estimators=100)
model.fit(x_tr, y_tr)

RandomForestClassifier(max_depth=10, random_state=0)

In [133]:
pred = model.predict(x_val)
f1_score(y_val, pred, average='macro')

0.469620121190772

In [134]:
pred = model.predict(test)
result = pd.DataFrame({
    'ID': test_id,
    'Segmentation': pred
})

In [135]:
result.to_csv('06 4회 기출 변형.csv', index=False)

In [136]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p3_1_.csv')
df.head()

         학번     학과 성별
0  DFSKJK_1   경영학과  여
1  DFSKJK_2   사회학과  여
2  DFSKJK_3  기계공학과  여
3  DFSKJK_4   경제학과  남
4  DFSKJK_5  기계공학과  여

In [138]:
df['학과'].value_counts().mean()

170.33333333333334

In [139]:
from scipy.stats import chi2_contingency

In [140]:
cdf = pd.crosstab(df['성별'], df['학과'])

In [141]:
cdf

학과  경영학과  경제학과  기계공학과  사회학과  의학과  전자공학과
성별
남    150    79    125    48   32     74
여    171    91    119    51   27     55

In [150]:
statistic, pvalue, dof, arr = chi2_contingency(cdf)

In [151]:
float(format(statistic, '.3f'))

5.646

In [152]:
float(format(pvalue, '.3f'))

0.342

In [153]:
'귀무'

'귀무'