In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_1_.csv')
df.head(5)

,시도명,시군구명,종량제봉투종류,종량제봉투처리방식,종량제봉투용도,종량제봉투사용대상,1L가격,1.5L가격,2L가격,2.5L가격,...,60L가격,75L가격,100L가격,120L가격,125L가격,관리부서명,관리부서전화번호,데이터기준일자,제공기관코드,제공기관명
0,경기도,안양시,규격봉투,매립용,생활쓰레기,사업장용,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
1,경기도,안양시,규격봉투,매립용,생활쓰레기,기타,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
2,경기도,안양시,규격봉투,소각용,음식물쓰레기,가정용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
3,경기도,안양시,규격봉투,소각용,음식물쓰레기,사업장용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
4,경기도,안양시,규격봉투,소각용,음식물쓰레기,기타,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 762 entries, 0 to 761
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시도명        762 non-null    object
 1   시군구명       762 non-null    object
 2   종량제봉투종류    762 non-null    object
 3   종량제봉투처리방식  762 non-null    object
 4   종량제봉투용도    762 non-null    object
 5   종량제봉투사용대상  762 non-null    object
 6   1L가격       762 non-null    int64
 7   1.5L가격     762 non-null    int64
 8   2L가격       762 non-null    int64
 9   2.5L가격     762 non-null    int64
 10  3L가격       762 non-null    int64
 11  5L가격       762 non-null    int64
 12  10L가격      762 non-null    int64
 13  20L가격      762 non-null    int64
 14  30L가격      762 non-null    int64
 15  50L가격      762 non-null    int64
 16  60L가격      762 non-null    int64
 17  75L가격      762 non-null    int64
 18  100L가격     762 non-null    int64
 19  120L가격     762 non-null    int64
 20  125L가격     762 non-null    int64
 21  관리부서명      762 non-null    object
 22  관리부서전화번호   762 non-null    object
 23  데이터기준일자    762 non-null    object
 24  제공기관코드     762 non-null    object
 25  제공기관명      762 non-null    object
dtypes: int64(15), object(11)
memory usage: 154.9+ KB

In [5]:
cond1 = df['20L가격'] != 0
cond2 = df['5L가격'] != 0
df2 = df[cond1 & cond2]

In [6]:
df2['차이가격'] = df2['20L가격'] - df2['5L가격']

C:\Users\pc\AppData\Local\Temp\ipykernel_10980\2868356971.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['차이가격'] = df2['20L가격'] - df2['5L가격']

In [10]:
round(df2.groupby('시도명')['차이가격'].mean().max(), 1)

619.0

In [11]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_2_.csv')
df.head(5)

       ID  height(cm)  weight(kg)
0  user_1       173.0        67.5
1  user_2       149.5        82.5
2  user_3       143.8        64.6
3  user_4       163.1        87.2
4  user_5       159.6        77.1

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          10000 non-null  object
 1   height(cm)  10000 non-null  float64
 2   weight(kg)  10000 non-null  float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB

In [13]:
df['bmi'] = df['weight(kg)'] / df['height(cm)']**2

In [17]:
df['bmi2'] = df['bmi'] * 10000

In [18]:
df

              ID  height(cm)  weight(kg)       bmi       bmi2
0         user_1       173.0        67.5  0.002255  22.553376
1         user_2       149.5        82.5  0.003691  36.912339
2         user_3       143.8        64.6  0.003124  31.240268
3         user_4       163.1        87.2  0.003278  32.779971
4         user_5       159.6        77.1  0.003027  30.268340
...          ...         ...         ...       ...        ...
9995   user_9996       144.0        74.4  0.003588  35.879630
9996   user_9997       161.1        84.1  0.003240  32.404469
9997   user_9998       137.1        68.9  0.003666  36.655936
9998   user_9999       187.5        89.2  0.002537  25.372444
9999  user_10000       172.3        77.5  0.002611  26.105448

[10000 rows x 5 columns]

In [19]:
저체중 = df[df['bmi2'] < 18.5]
초고도비만 = df[df['bmi2'] >= 25]

In [20]:
len(저체중) + len(초고도비만)

8998

In [21]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_3.csv')
df.head(5)

,지역,초등학교_전출_도내,초등학교_전출_도외,초등학교_전입_도내,초등학교_전입_도외,중학교_전출_도내,중학교_전출_도외,중학교_전입_도내,중학교_전입_도외,고등학교_전출_도내,고등학교_전출_도외,고등학교_전입_도내,고등학교_전입_도외,년도
0,종로구,221,132,255,126,63,71,104,73,203,72,166,75,2012
1,중구,295,139,203,100,66,43,58,44,156,37,104,39,2012
2,용산구,380,269,302,174,134,78,91,106,102,66,113,48,2012
3,성동구,643,344,376,221,154,103,98,82,179,37,153,41,2012
4,광진구,560,382,595,312,165,158,158,118,115,70,154,66,2012

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   지역          250 non-null    object
 1   초등학교_전출_도내  250 non-null    int64
 2   초등학교_전출_도외  250 non-null    int64
 3   초등학교_전입_도내  250 non-null    int64
 4   초등학교_전입_도외  250 non-null    int64
 5   중학교_전출_도내   250 non-null    int64
 6   중학교_전출_도외   250 non-null    int64
 7   중학교_전입_도내   250 non-null    int64
 8   중학교_전입_도외   250 non-null    int64
 9   고등학교_전출_도내  250 non-null    int64
 10  고등학교_전출_도외  250 non-null    int64
 11  고등학교_전입_도내  250 non-null    int64
 12  고등학교_전입_도외  250 non-null    int64
 13  년도          250 non-null    int64
dtypes: int64(13), object(1)
memory usage: 27.5+ KB

In [ ]:
# 순유입인원 = 초중고 도내도외 전입인원 - 초중고 도내도외 전출인원

In [25]:
전입 = df.groupby('지역')[['초등학교_전입_도내', '초등학교_전입_도외', '중학교_전입_도내', '중학교_전입_도외', '고등학교_전입_도내', '고등학교_전입_도외']].sum()

In [28]:
전입['total'] = 전입['초등학교_전입_도내'] + 전입['초등학교_전입_도외'] + 전입['중학교_전입_도내'] + 전입['중학교_전입_도외'] + 전입['고등학교_전입_도내'] + 전입['고등학교_전입_도외']

In [30]:
전출 = df.groupby('지역')[['초등학교_전출_도내', '초등학교_전출_도외', '중학교_전출_도내', '중학교_전출_도외', '고등학교_전출_도내', '고등학교_전출_도외']].sum()

In [31]:
전출['total'] = 전출['초등학교_전출_도내'] + 전출['초등학교_전출_도외'] + 전출['중학교_전출_도내'] + 전출['중학교_전출_도외'] + 전출['고등학교_전출_도내'] + 전출['고등학교_전출_도외']

In [32]:
ndf = 전입['total'] - 전출['total']

In [33]:
ndf

지역
강남구     13831
강동구      2096
강북구     -1789
강서구     -4807
관악구     -6556
광진구     -1413
구로구     -6866
금천구     -3065
노원구      -719
도봉구     -3618
동대문구    -3323
동작구     -3686
마포구     -3029
서대문구       30
서초구      4040
성동구     -4717
성북구     -4590
송파구       232
양천구      5835
영등포구    -5106
용산구     -2272
은평구     -3668
종로구      -430
중구      -1972
중랑구     -4158
Name: total, dtype: int64

In [ ]:
순유입인원은 초중고 도내,도외 전입인원에서 초중고 도내, 도외 전출인원을 뺀값이다.
각년도별로 가장 큰 순유입인원을 가진 지역구의 순유입인원을 구하고
전체 기간의 해당 순유입인원들의 합을 구하여라

In [34]:
df

,지역,초등학교_전출_도내,초등학교_전출_도외,초등학교_전입_도내,초등학교_전입_도외,중학교_전출_도내,중학교_전출_도외,중학교_전입_도내,중학교_전입_도외,고등학교_전출_도내,고등학교_전출_도외,고등학교_전입_도내,고등학교_전입_도외,년도
0,종로구,221,132,255,126,63,71,104,73,203,72,166,75,2012
1,중구,295,139,203,100,66,43,58,44,156,37,104,39,2012
2,용산구,380,269,302,174,134,78,91,106,102,66,113,48,2012
3,성동구,643,344,376,221,154,103,98,82,179,37,153,41,2012
4,광진구,560,382,595,312,165,158,158,118,115,70,154,66,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,관악구,536,501,254,178,86,111,43,61,107,55,108,45,2021
246,서초구,1069,576,1323,363,141,135,172,118,154,71,148,62,2021
247,강남구,892,497,1828,797,130,239,268,255,261,108,273,101,2021
248,송파구,1228,975,1297,702,254,256,282,255,180,93,224,91,2021
249,강동구,940,615,1365,577,137,143,228,143,148,55,176,50,2021

In [53]:
전입 = df.groupby(['년도', '지역'])[['초등학교_전입_도내', '초등학교_전입_도외', '중학교_전입_도내', '중학교_전입_도외', '고등학교_전입_도내', '고등학교_전입_도외']].sum()

In [54]:
전입

          초등학교_전입_도내  초등학교_전입_도외  중학교_전입_도내  중학교_전입_도외  고등학교_전입_도내  고등학교_전입_도외
년도   지역
2012 강남구        1355         738        341        287         294         183
     강동구         840         545        215        199         215          67
     강북구         486         238        160         85         125          40
     강서구         981         591        226        150         253         122
     관악구         426         390        138        151         287          93
...              ...         ...        ...        ...         ...         ...
2021 용산구         163         132         40         83          54          30
     은평구         580         280         79         94         123          93
     종로구         190          54         46         61          90          55
     중구          128          34         29         16         112          18
     중랑구         317         143         84         64         110          23

[250 rows x 6 columns]

In [55]:
전입['total'] = 전입['초등학교_전입_도내'] + 전입['초등학교_전입_도외'] + 전입['중학교_전입_도내'] + 전입['중학교_전입_도외'] + 전입['고등학교_전입_도내'] + 전입['고등학교_전입_도외']

In [56]:
전입

          초등학교_전입_도내  초등학교_전입_도외  중학교_전입_도내  중학교_전입_도외  고등학교_전입_도내  \
년도   지역
2012 강남구        1355         738        341        287         294
     강동구         840         545        215        199         215
     강북구         486         238        160         85         125
     강서구         981         591        226        150         253
     관악구         426         390        138        151         287
...              ...         ...        ...        ...         ...
2021 용산구         163         132         40         83          54
     은평구         580         280         79         94         123
     종로구         190          54         46         61          90
     중구          128          34         29         16         112
     중랑구         317         143         84         64         110

          고등학교_전입_도외  total
년도   지역
2012 강남구         183   3198
     강동구          67   2081
     강북구          40   1134
     강서구         122   2323
     관악구          93   1485
...              ...    ...
2021 용산구          30    502
     은평구          93   1249
     종로구          55    496
     중구           18    337
     중랑구          23    741

[250 rows x 7 columns]

In [57]:
전출 = df.groupby(['년도', '지역'])[['초등학교_전출_도내', '초등학교_전출_도외', '중학교_전출_도내', '중학교_전출_도외', '고등학교_전출_도내', '고등학교_전출_도외']].sum()

In [58]:
전출

          초등학교_전출_도내  초등학교_전출_도외  중학교_전출_도내  중학교_전출_도외  고등학교_전출_도내  고등학교_전출_도외
년도   지역
2012 강남구         662         600        224        304         298         161
     강동구         911         695        208        231         170          81
     강북구         485         342        174        125         126          32
     강서구        1103         959        227        217         302         169
     관악구         762         638        188        241         285          81
...              ...         ...        ...        ...         ...         ...
2021 용산구         316         200         73         81         108          35
     은평구         597         598         92        142         120         126
     종로구         190         105         55         45         206          77
     중구          202         109         37         38         122          35
     중랑구         450         514         92        132          84          22

[250 rows x 6 columns]

In [59]:
전출['total'] = 전출['초등학교_전출_도내'] + 전출['초등학교_전출_도외'] + 전출['중학교_전출_도내'] + 전출['중학교_전출_도외'] + 전출['고등학교_전출_도내'] + 전출['고등학교_전출_도외']

In [60]:
전출

          초등학교_전출_도내  초등학교_전출_도외  중학교_전출_도내  중학교_전출_도외  고등학교_전출_도내  \
년도   지역
2012 강남구         662         600        224        304         298
     강동구         911         695        208        231         170
     강북구         485         342        174        125         126
     강서구        1103         959        227        217         302
     관악구         762         638        188        241         285
...              ...         ...        ...        ...         ...
2021 용산구         316         200         73         81         108
     은평구         597         598         92        142         120
     종로구         190         105         55         45         206
     중구          202         109         37         38         122
     중랑구         450         514         92        132          84

          고등학교_전출_도외  total
년도   지역
2012 강남구         161   2249
     강동구          81   2296
     강북구          32   1284
     강서구         169   2977
     관악구          81   2195
...              ...    ...
2021 용산구          35    813
     은평구         126   1675
     종로구          77    678
     중구           35    543
     중랑구          22   1294

[250 rows x 7 columns]

In [66]:
ndf = (전입['total'] - 전출['total']).to_frame()

In [71]:
ndf.sort_values(['년도', 'total'], ascending=False).groupby('년도').head(1)['total'].sum()

13853

In [72]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_train_.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_test_.csv')

display(train.head(2))
test.head(2)

,ID,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,10170,A Class,2012,11940,Automatic,46000,Diesel,30,64.2,2.1
1,9551,CL Class,2020,38624,Semi-Auto,19,Petrol,150,36.7,2.0

   ID      model  year transmission  mileage fuelType  tax   mpg  engineSize
0   0        SLK  2005    Automatic    63000   Petrol  325  32.1         1.8
1   2   SL CLASS  2016    Automatic     6200   Petrol  555  28.0         5.5

In [73]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9823 entries, 0 to 9822
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            9823 non-null   int64
 1   model         9823 non-null   object
 2   year          9823 non-null   int64
 3   price         9823 non-null   int64
 4   transmission  9823 non-null   object
 5   mileage       9823 non-null   int64
 6   fuelType      9823 non-null   object
 7   tax           9823 non-null   int64
 8   mpg           9823 non-null   float64
 9   engineSize    9823 non-null   float64
dtypes: float64(2), int64(5), object(3)
memory usage: 767.6+ KB

In [74]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3296 entries, 0 to 3295
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            3296 non-null   int64
 1   model         3296 non-null   object
 2   year          3296 non-null   int64
 3   transmission  3296 non-null   object
 4   mileage       3296 non-null   int64
 5   fuelType      3296 non-null   object
 6   tax           3296 non-null   int64
 7   mpg           3296 non-null   float64
 8   engineSize    3296 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 231.9+ KB

In [75]:
y_train = train.pop('price')
train = train.drop(columns='ID')
test_id = test.pop('ID')

In [76]:
train.describe()

              year        mileage          tax          mpg   engineSize
count  9823.000000    9823.000000  9823.000000  9823.000000  9823.000000
mean   2017.291764   21920.129797   129.983712    55.086633     2.073073
std       2.239658   21266.824972    64.754362    15.343101     0.572922
min    1970.000000       1.000000     0.000000     1.100000     0.000000
25%    2016.000000    6058.500000   125.000000    45.600000     1.800000
50%    2018.000000   15181.000000   145.000000    56.500000     2.000000
75%    2019.000000   31695.500000   145.000000    64.200000     2.100000
max    2020.000000  259000.000000   580.000000   217.300000     6.200000

In [77]:
test.describe()

              year        mileage          tax          mpg   engineSize
count  3296.000000    3296.000000  3296.000000  3296.000000  3296.000000
mean   2017.309769   22037.266383   129.937803    55.362106     2.066930
std       2.179831   20907.995253    66.755305    14.847783     0.571008
min    1998.000000       9.000000     0.000000    20.500000     0.000000
25%    2016.000000    6154.500000   125.000000    45.600000     1.600000
50%    2018.000000   15215.500000   145.000000    56.500000     2.000000
75%    2019.000000   32000.000000   145.000000    64.200000     2.100000
max    2020.000000  130000.000000   580.000000   188.300000     6.200000

In [78]:
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [79]:
numeric_cols = train.select_dtypes(exclude='O').columns
scaler = RobustScaler()

for col in numeric_cols:
    train[col] = scaler.fit_transform(train[[col]])
    test[col] = scaler.transform(test[[col]])

In [80]:
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [81]:
train.columns.difference(test.columns)

Index(['fuelType_Other', 'model_ CLC Class', 'model_ R Class', 'model_180',
       'model_200', 'model_230', 'transmission_Other'],
      dtype='object')

In [82]:
test.columns.difference(train.columns)

Index(['model_220'], dtype='object')

In [97]:
diff_cols = train.columns.difference(test.columns).append(test.columns.difference(train.columns))

In [98]:
diff_cols

Index(['fuelType_Other', 'model_ CLC Class', 'model_ R Class', 'model_180',
       'model_200', 'model_230', 'transmission_Other', 'model_220'],
      dtype='object')

In [99]:
train = train.reindex(columns=set(train.columns.append(test.columns)), fill_value=0)
test = test.reindex(columns=set(train.columns.append(test.columns)), fill_value=0)

In [100]:
for col in diff_cols:
    train[col] = train[col].astype('uint8')
    test[col] = test[col].astype('uint8')

In [128]:
train = train.sort_index(axis=1)
test = test.sort_index(axis=1)

In [129]:
x_tr, x_val, y_tr, y_val = train_test_split(train, y_train, test_size=0.25, random_state=0)

In [132]:
model = RandomForestRegressor(random_state=0)
model.fit(x_tr, y_tr)

RandomForestRegressor(random_state=0)

In [133]:
pred = model.predict(x_val)
mean_squared_error(y_val, pred)**0.5

2607.4812363926317

In [134]:
pred = model.predict(test)
result = pd.DataFrame({
    'ID': test_id,
    'price': pred
})

In [135]:
result.to_csv('07 5회 기출 변형.csv', index=False)

In [136]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_1.csv')
df.head()

       ID  height
0  user_1  164.57
1  user_2  174.99
2  user_3  171.41
3  user_4  162.47
4  user_5  167.11

In [137]:
n = len(df)

In [139]:
df.mean()

C:\Users\pc\AppData\Local\Temp\ipykernel_10980\3698961737.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

height    169.937273
dtype: float64

In [143]:
from scipy.stats import t

In [144]:
t

In [149]:
df['height'].std()

5.977625087231691

In [150]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_2.csv')
df.head()

  ID      value
0  A  84.179434
1  A  93.971003
2  A  62.140957
3  A  72.911723
4  A  79.252747

In [151]:
a = df[df['ID'] == 'A']
b = df[df['ID'] == 'B']
c = df[df['ID'] == 'C']

In [152]:
from scipy.stats import kruskal

In [154]:
statistic, pvalue = kruskal(a.value, b.value, c.value)

In [155]:
round(statistic, 3)

6.521

In [156]:
round(pvalue, 3)

0.038

In [157]:
'대립가설'

'대립가설'